[data-theme='dark'] {
  --gray-1: oklch(0.178 0 0deg / 1);
  --gray-2: oklch(0.213 0 0deg / 1);
  --gray-3: oklch(0.254 0 0deg / 1);
  --gray-4: oklch(0.283 0 0deg / 1);
  --gray-5: oklch(0.313 0 0deg / 1);
  --gray-6: oklch(0.349 0 0deg / 1);
  --gray-7: oklch(0.402 0 0deg / 1);
  --gray-8: oklch(0.488 0 0deg / 1);
  --gray-9: oklch(0.538 0 0deg / 1);
  --gray-10: oklch(0.584 0 0deg / 1);
  --gray-11: oklch(0.77 0 0deg / 1);
  --gray-12: oklch(0.949 0 0deg / 1);
  --gray-a1: oklch(0 0 0deg / 0);
  --gray-a2: oklch(1 0 0deg / 0.034);
  --gray-a3: oklch(1 0 0deg / 0.071);
  --gray-a4: oklch(1 0 0deg / 0.105);
  --gray-a5: oklch(1 0 0deg / 0.134);
  --gray-a6: oklch(1 0 0deg / 0.172);
  --gray-a7: oklch(1 0 0deg / 0.231);
  --gray-a8: oklch(1 0 0deg / 0.332);
  --gray-a9: oklch(1 0 0deg / 0.391);
  --gray-a10: oklch(1 0 0deg / 0.445);
  --gray-a11: oklch(1 0 0deg / 0.685);
  --gray-a12: oklch(1 0 0deg / 0.929);
  --mauve-1: oklch(0.18 0.004 307.789deg / 1);
  --mauve-2: oklch(0.215 0.004 307.844deg / 1);
  --mauve-3: oklch(0.255 0.006 306.475deg / 1);
  --mauve-4: oklch(0.284 0.008 307.754deg / 1);
  --mauve-5: oklch(0.314 0.009 306.946deg / 1);
  --mauve-6: oklch(0.35 0.01 303.983deg / 1);
  --mauve-7: oklch(0.402 0.012 304.447deg / 1);
  --mauve-8: oklch(0.492 0.016 300.745deg / 1);
  --mauve-9: oklch(0.54 0.017 293.971deg / 1);
  --mauve-10: oklch(0.586 0.017 295.365deg / 1);
  --mauve-11: oklch(0.77 0.014 296.608deg / 1);
  --mauve-12: oklch(0.949 0.003 286.35deg / 1);
  --mauve-a1: oklch(0 0 0deg / 0);
  --mauve-a2: oklch(0.995 0.003 311.221deg / 0.034);
  --mauve-a3: oklch(0.955 0.022 289.579deg / 0.077);
  --mauve-a4: oklch(0.952 0.032 310.938deg / 0.111);
  --mauve-a5: oklch(0.942 0.035 303.589deg / 0.145);
  --mauve-a6: oklch(0.955 0.028 306.11deg / 0.183);
  --mauve-a7: oklch(0.955 0.027 297.74deg / 0.246);
  --mauve-a8: oklch(0.948 0.031 297.987deg / 0.361);
  --mauve-a9: oklch(0.947 0.031 295.466deg / 0.424);
  --mauve-a10: oklch(0.952 0.029 297.093deg / 0.479);
  --mauve-a11: oklch(0.974 0.015 291.572deg / 0.712);
  --mauve-a12: oklch(0.995 0.003 286.346deg / 0.937);
  --slate-1: oklch(0.179 0.004 285.992deg / 1);
  --slate-2: oklch(0.213 0.004 264.413deg / 1);
  --slate-3: oklch(0.253 0.006 261.194deg / 1);
  --slate-4: oklch(0.283 0.007 259.518deg / 1);
  --slate-5: oklch(0.311 0.008 259.731deg / 1);
  --slate-6: oklch(0.346 0.01 256.518deg / 1);
  --slate-7: oklch(0.398 0.012 253.769deg / 1);
  --slate-8: oklch(0.49 0.016 247.634deg / 1);
  --slate-9: oklch(0.537 0.015 261.146deg / 1);
  --slate-10: oklch(0.583 0.014 263.317deg / 1);
  --slate-11: oklch(0.768 0.01 261.268deg / 1);
  --slate-12: oklch(0.949 0.003 264.572deg / 1);
  --slate-a1: oklch(0 0 0deg / 0);
  --slate-a2: oklch(0.971 0.04 199.65deg / 0.034);
  --slate-a3: oklch(0.943 0.028 247.4deg / 0.077);
  --slate-a4: oklch(0.953 0.029 229.218deg / 0.111);
  --slate-a5: oklch(0.941 0.031 250.872deg / 0.145);
  --slate-a6: oklch(0.951 0.029 233.21deg / 0.183);
  --slate-a7: oklch(0.942 0.031 254.51deg / 0.246);
  --slate-a8: oklch(0.943 0.033 241.968deg / 0.361);
  --slate-a9: oklch(0.949 0.027 256.203deg / 0.42);
  --slate-a10: oklch(0.957 0.022 261.582deg / 0.475);
  --slate-a11: oklch(0.974 0.012 251.649deg / 0.708);
  --slate-a12: oklch(0.994 0.003 261.347deg / 0.937);
  --sage-1: oklch(0.179 0.004 167.377deg / 1);
  --sage-2: oklch(0.211 0.004 160.174deg / 1);
  --sage-3: oklch(0.251 0.004 164.2deg / 1);
  --sage-4: oklch(0.281 0.005 164.873deg / 1);
  --sage-5: oklch(0.311 0.005 167.438deg / 1);
  --sage-6: oklch(0.347 0.006 167.424deg / 1);
  --sage-7: oklch(0.399 0.008 167.385deg / 1);
  --sage-8: oklch(0.488 0.009 169.814deg / 1);
  --sage-9: oklch(0.533 0.018 170.771deg / 1);
  --sage-10: oklch(0.579 0.016 170.508deg / 1);
  --sage-11: oklch(0.766 0.01 167.509deg / 1);
  --sage-12: oklch(0.947 0.002 167.705deg / 1);
  --sage-a1: oklch(0 0 0deg / 0);
  --sage-a2: oklch(0.988 0.004 176.151deg / 0.03);
  --sage-a3: oklch(0.968 0.016 21.334deg / 0.072);
  --sage-a4: oklch(0.995 0.003 167.693deg / 0.102);
  --sage-a5: oklch(0.998 0.003 167.694deg / 0.131);
  --sage-a6: oklch(0.992 0.013 152.32deg / 0.173);
  --sage-a7: oklch(0.989 0.017 164.76deg / 0.233);
  --sage-a8: oklch(0.99 0.016 173.84deg / 0.334);
  --sage-a9: oklch(0.977 0.037 169.979deg / 0.397);
  --sage-a10: oklch(0.983 0.026 173.191deg / 0.452);
  --sage-a11: oklch(0.993 0.012 173.145deg / 0.688);
  --sage-a12: oklch(0.998 0.003 167.694deg / 0.929);
  --olive-1: oklch(0.18 0.004 128.338deg / 1);
  --olive-2: oklch(0.212 0.004 128.287deg / 1);
  --olive-3: oklch(0.252 0.005 129.009deg / 1);
  --olive-4: oklch(0.281 0.006 131.436deg / 1);
  --olive-5: oklch(0.31 0.007 131.447deg / 1);
  --olive-6: oklch(0.346 0.008 134.431deg / 1);
  --olive-7: oklch(0.399 0.01 136.025deg / 1);
  --olive-8: oklch(0.488 0.012 140.78deg / 1);
  --olive-9: oklch(0.535 0.018 139.614deg / 1);
  --olive-10: oklch(0.581 0.016 140.064deg / 1);
  --olive-11: oklch(0.766 0.013 139.496deg / 1);
  --olive-12: oklch(0.947 0.003 144.76deg / 1);
  --olive-a1: oklch(0 0 0deg / 0);
  --olive-a2: oklch(0.989 0.005 123.647deg / 0.03);
  --olive-a3: oklch(0.995 0.003 131.281deg / 0.068);
  --olive-a4: oklch(0.984 0.023 146.493deg / 0.102);
  --olive-a5: oklch(0.991 0.017 145.626deg / 0.131);
  --olive-a6: oklch(0.992 0.015 145.172deg / 0.169);
  --olive-a7: oklch(0.993 0.016 131.949deg / 0.228);
  --olive-a8: oklch(0.988 0.021 146.263deg / 0.334);
  --olive-a9: oklch(0.983 0.034 137.713deg / 0.397);
  --olive-a10: oklch(0.986 0.027 142.744deg / 0.452);
  --olive-a11: oklch(0.992 0.015 138.831deg / 0.688);
  --olive-a12: oklch(0.998 0.004 149.069deg / 0.929);
  --sand-1: oklch(0.178 0.002 106.628deg / 1);
  --sand-2: oklch(0.213 0.002 106.582deg / 1);
  --sand-3: oklch(0.253 0.003 106.62deg / 1);
  --sand-4: oklch(0.283 0.004 99.025deg / 1);
  --sand-5: oklch(0.312 0.004 100.73deg / 1);
  --sand-6: oklch(0.349 0.006 102.244deg / 1);
  --sand-7: oklch(0.401 0.007 96.104deg / 1);
  --sand-8: oklch(0.49 0.01 91.729deg / 1);
  --sand-9: oklch(0.535 0.011 94.074deg / 1);
  --sand-10: oklch(0.581 0.011 94.047deg / 1);
  --sand-11: oklch(0.767 0.009 97.383deg / 1);
  --sand-12: oklch(0.948 0.003 106.449deg / 1);
  --sand-a1: oklch(0 0 0deg / 0);
  --sand-a2: oklch(0.994 0.001 106.426deg / 0.034);
  --sand-a3: oklch(0.997 0.001 106.426deg / 0.072);
  --sand-a4: oklch(0.991 0.014 106.659deg / 0.106);
  --sand-a5: oklch(0.997 0.013 106.631deg / 0.135);
  --sand-a6: oklch(0.983 0.019 81.027deg / 0.177);
  --sand-a7: oklch(0.987 0.021 91.488deg / 0.236);
  --sand-a8: oklch(0.983 0.02 82.835deg / 0.341);
  --sand-a9: oklch(0.985 0.021 87.886deg / 0.395);
  --sand-a10: oklch(0.991 0.022 99.557deg / 0.45);
  --sand-a11: oklch(0.995 0.013 100.542deg / 0.685);
  --sand-a12: oklch(0.999 0.003 106.453deg / 0.929);
  --amber-1: oklch(0.184 0.013 77.268deg / 1);
  --amber-2: oklch(0.212 0.018 78.676deg / 1);
  --amber-3: oklch(0.258 0.044 74.558deg / 1);
  --amber-4: oklch(0.296 0.071 76.248deg / 1);
  --amber-5: oklch(0.337 0.081 76.413deg / 1);
  --amber-6: oklch(0.387 0.078 75.091deg / 1);
  --amber-7: oklch(0.453 0.082 74.549deg / 1);
  --amber-8: oklch(0.536 0.096 73.574deg / 1);
  --amber-9: oklch(0.856 0.178 81.37deg / 1);
  --amber-10: oklch(0.902 0.206 96.982deg / 1);
  --amber-11: oklch(0.871 0.175 85.068deg / 1);
  --amber-12: oklch(0.935 0.072 85.989deg / 1);
  --amber-a1: oklch(0.68 0.261 36.132deg / 0.017);
  --amber-a2: oklch(0.797 0.198 70.407deg / 0.047);
  --amber-a3: oklch(0.78 0.204 62.665deg / 0.118);
  --amber-a4: oklch(0.763 0.21 57.422deg / 0.185);
  --amber-a5: oklch(0.777 0.205 61.66deg / 0.24);
  --amber-a6: oklch(0.805 0.196 69.331deg / 0.299);
  --amber-a7: oklch(0.831 0.175 72.401deg / 0.383);
  --amber-a8: oklch(0.838 0.167 73.297deg / 0.5);
  --amber-a9: oklch(0.856 0.178 81.248deg / 1);
  --amber-a10: oklch(0.902 0.207 97.108deg / 1);
  --amber-a11: oklch(0.871 0.175 85.068deg / 1);
  --amber-a12: oklch(0.935 0.072 85.989deg / 1);
  --blue-1: oklch(0.193 0.026 256.79deg / 1);
  --blue-2: oklch(0.213 0.03 258.837deg / 1);
  --blue-3: oklch(0.274 0.067 253.962deg / 1);
  --blue-4: oklch(0.317 0.1 248.3deg / 1);
  --blue-5: oklch(0.365 0.108 249.724deg / 1);
  --blue-6: oklch(0.416 0.112 251.66deg / 1);
  --blue-7: oklch(0.475 0.121 252.839deg / 1);
  --blue-8: oklch(0.541 0.14 253.211deg / 1);
  --blue-9: oklch(0.649 0.193 251.813deg / 1);
  --blue-10: oklch(0.689 0.17 251.457deg / 1);
  --blue-11: oklch(0.768 0.135 248.844deg / 1);
  --blue-12: oklch(0.907 0.051 238.273deg / 1);
  --blue-a1: oklch(0.539 0.275 259.85deg / 0.059);
  --blue-a2: oklch(0.584 0.241 257.012deg / 0.085);
  --blue-a3: oklch(0.6 0.237 255.782deg / 0.219);
  --blue-a4: oklch(0.598 0.24 253.453deg / 0.324);
  --blue-a5: oklch(0.622 0.226 251.844deg / 0.4);
  --blue-a6: oklch(0.653 0.205 251.994deg / 0.475);
  --blue-a7: oklch(0.674 0.191 252.939deg / 0.572);
  --blue-a8: oklch(0.68 0.187 253.301deg / 0.702);
  --blue-a9: oklch(0.663 0.197 251.513deg / 0.967);
  --blue-a10: oklch(0.705 0.173 251.444deg / 0.971);
  --blue-a11: oklch(0.768 0.135 248.844deg / 1);
  --blue-a12: oklch(0.907 0.051 238.273deg / 1);
  --bronze-1: oklch(0.181 0.005 41.551deg / 1);
  --bronze-2: oklch(0.215 0.005 41.544deg / 1);
  --bronze-3: oklch(0.255 0.008 42.652deg / 1);
  --bronze-4: oklch(0.291 0.01 45.497deg / 1);
  --bronze-5: oklch(0.329 0.013 43.306deg / 1);
  --bronze-6: oklch(0.374 0.016 44.264deg / 1);
  --bronze-7: oklch(0.43 0.02 44.84deg / 1);
  --bronze-8: oklch(0.499 0.024 45.169deg / 1);
  --bronze-9: oklch(0.627 0.046 44.292deg / 1);
  --bronze-10: oklch(0.669 0.045 44.286deg / 1);
  --bronze-11: oklch(0.792 0.043 44.501deg / 1);
  --bronze-12: oklch(0.915 0.017 50.301deg / 1);
  --bronze-a1: oklch(0.623 0.282 29.565deg / 0.009);
  --bronze-a2: oklch(0.882 0.074 45.324deg / 0.043);
  --bronze-a3: oklch(0.911 0.059 51.16deg / 0.085);
  --bronze-a4: oklch(0.909 0.06 38.183deg / 0.127);
  --bronze-a5: oklch(0.919 0.058 51.964deg / 0.173);
  --bronze-a6: oklch(0.922 0.055 43.761deg / 0.227);
  --bronze-a7: oklch(0.924 0.053 44.452deg / 0.295);
  --bronze-a8: oklch(0.92 0.057 44.446deg / 0.387);
  --bronze-a9: oklch(0.898 0.072 43.522deg / 0.585);
  --bronze-a10: oklch(0.909 0.065 43.56deg / 0.635);
  --bronze-a11: oklch(0.792 0.043 44.501deg / 1);
  --bronze-a12: oklch(0.915 0.017 50.301deg / 1);
  --brown-1: oklch(0.178 0.005 81.547deg / 1);
  --brown-2: oklch(0.213 0.007 51.619deg / 1);
  --brown-3: oklch(0.254 0.013 53.478deg / 1);
  --brown-4: oklch(0.288 0.018 55.42deg / 1);
  --brown-5: oklch(0.325 0.024 55.879deg / 1);
  --brown-6: oklch(0.37 0.032 57.687deg / 1);
  --brown-7: oklch(0.429 0.041 59.835deg / 1);
  --brown-8: oklch(0.509 0.053 62.168deg / 1);
  --brown-9: oklch(0.633 0.078 60.775deg / 1);
  --brown-10: oklch(0.674 0.075 61.481deg / 1);
  --brown-11: oklch(0.798 0.063 62.509deg / 1);
  --brown-12: oklch(0.918 0.036 75.667deg / 1);
  --brown-a1: oklch(0.58 0.262 29.774deg / 0.005);
  --brown-a2: oklch(0.831 0.121 50.973deg / 0.043);
  --brown-a3: oklch(0.855 0.111 51.573deg / 0.093);
  --brown-a4: oklch(0.866 0.106 53.993deg / 0.135);
  --brown-a5: oklch(0.864 0.108 53.525deg / 0.181);
  --brown-a6: oklch(0.869 0.105 56.197deg / 0.24);
  --brown-a7: oklch(0.869 0.107 59.305deg / 0.32);
  --brown-a8: oklch(0.871 0.109 60.837deg / 0.433);
  --brown-a9: oklch(0.865 0.115 61.085deg / 0.627);
  --brown-a10: oklch(0.878 0.103 60.965deg / 0.677);
  --brown-a11: oklch(0.798 0.063 62.509deg / 1);
  --brown-a12: oklch(0.918 0.036 75.667deg / 1);
  --crimson-1: oklch(0.189 0.014 354.172deg / 1);
  --crimson-2: oklch(0.207 0.022 352.896deg / 1);
  --crimson-3: oklch(0.256 0.059 353.876deg / 1);
  --crimson-4: oklch(0.293 0.094 354.063deg / 1);
  --crimson-5: oklch(0.333 0.104 354.748deg / 1);
  --crimson-6: oklch(0.382 0.109 355.492deg / 1);
  --crimson-7: oklch(0.45 0.12 356.706deg / 1);
  --crimson-8: oklch(0.542 0.148 358.335deg / 1);
  --crimson-9: oklch(0.634 0.213 1.304deg / 1);
  --crimson-10: oklch(0.664 0.197 1.951deg / 1);
  --crimson-11: oklch(0.787 0.167 6.719deg / 1);
  --crimson-12: oklch(0.909 0.054 346.657deg / 1);
  --crimson-a1: oklch(0.659 0.293 6.224deg / 0.03);
  --crimson-a2: oklch(0.7 0.263 1.885deg / 0.055);
  --crimson-a3: oklch(0.69 0.278 0.29deg / 0.148);
  --crimson-a4: oklch(0.682 0.292 359.665deg / 0.227);
  --crimson-a5: oklch(0.695 0.28 358.072deg / 0.286);
  --crimson-a6: oklch(0.719 0.253 357.242deg / 0.349);
  --crimson-a7: oklch(0.741 0.227 357.994deg / 0.454);
  --crimson-a8: oklch(0.742 0.22 359.417deg / 0.614);
  --crimson-a9: oklch(0.717 0.247 1.625deg / 0.832);
  --crimson-a10: oklch(0.739 0.221 2.359deg / 0.853);
  --crimson-a11: oklch(0.787 0.167 6.719deg / 1);
  --crimson-a12: oklch(0.909 0.054 346.657deg / 1);
  --cyan-1: oklch(0.191 0.017 219.885deg / 1);
  --cyan-2: oklch(0.214 0.018 225.412deg / 1);
  --cyan-3: oklch(0.272 0.044 222.474deg / 1);
  --cyan-4: oklch(0.315 0.063 222.142deg / 1);
  --cyan-5: oklch(0.362 0.07 221.508deg / 1);
  --cyan-6: oklch(0.414 0.075 221.727deg / 1);
  --cyan-7: oklch(0.478 0.083 221.414deg / 1);
  --cyan-8: oklch(0.558 0.098 220.71deg / 1);
  --cyan-9: oklch(0.661 0.122 221.491deg / 1);
  --cyan-10: oklch(0.698 0.12 219.122deg / 1);
  --cyan-11: oklch(0.786 0.115 213.396deg / 1);
  --cyan-12: oklch(0.909 0.057 211.726deg / 1);
  --cyan-a1: oklch(0.69 0.198 237.012deg / 0.034);
  --cyan-a2: oklch(0.742 0.183 228.375deg / 0.059);
  --cyan-a3: oklch(0.746 0.182 226.721deg / 0.152);
  --cyan-a4: oklch(0.736 0.188 228.486deg / 0.227);
  --cyan-a5: oklch(0.756 0.18 225.335deg / 0.29);
  --cyan-a6: oklch(0.782 0.167 222.791deg / 0.358);
  --cyan-a7: oklch(0.796 0.157 222.283deg / 0.446);
  --cyan-a8: oklch(0.803 0.152 221.791deg / 0.572);
  --cyan-a9: oklch(0.805 0.153 221.097deg / 0.748);
  --cyan-a10: oklch(0.82 0.145 219.346deg / 0.786);
  --cyan-a11: oklch(0.786 0.115 213.396deg / 1);
  --cyan-a12: oklch(0.909 0.057 211.726deg / 1);
  --gold-1: oklch(0.182 0.002 106.621deg / 1);
  --gold-2: oklch(0.216 0.006 92.491deg / 1);
  --gold-3: oklch(0.255 0.008 88.28deg / 1);
  --gold-4: oklch(0.291 0.01 86.759deg / 1);
  --gold-5: oklch(0.329 0.011 83.663deg / 1);
  --gold-6: oklch(0.374 0.014 82.433deg / 1);
  --gold-7: oklch(0.429 0.016 80.92deg / 1);
  --gold-8: oklch(0.498 0.02 79.496deg / 1);
  --gold-9: oklch(0.621 0.049 78.132deg / 1);
  --gold-10: oklch(0.662 0.047 77.182deg / 1);
  --gold-11: oklch(0.794 0.041 77.181deg / 1);
  --gold-12: oklch(0.915 0.014 77.441deg / 1);
  --gold-a1: oklch(0.857 0.215 110.183deg / 0.005);
  --gold-a2: oklch(0.919 0.103 90.2deg / 0.043);
  --gold-a3: oklch(0.959 0.073 93.633deg / 0.08);
  --gold-a4: oklch(0.955 0.054 81.493deg / 0.118);
  --gold-a5: oklch(0.962 0.056 88.779deg / 0.16);
  --gold-a6: oklch(0.951 0.053 77.273deg / 0.215);
  --gold-a7: oklch(0.962 0.046 82.438deg / 0.278);
  --gold-a8: oklch(0.958 0.048 79.923deg / 0.366);
  --gold-a9: oklch(0.923 0.08 77.49deg / 0.551);
  --gold-a10: oklch(0.932 0.072 76.106deg / 0.601);
  --gold-a11: oklch(0.794 0.041 77.181deg / 1);
  --gold-a12: oklch(0.915 0.014 77.441deg / 1);
  --grass-1: oklch(0.188 0.014 155.812deg / 1);
  --grass-2: oklch(0.211 0.014 151.484deg / 1);
  --grass-3: oklch(0.267 0.03 150.732deg / 1);
  --grass-4: oklch(0.319 0.052 150.414deg / 1);
  --grass-5: oklch(0.367 0.062 149.911deg / 1);
  --grass-6: oklch(0.416 0.072 149.339deg / 1);
  --grass-7: oklch(0.468 0.084 148.894deg / 1);
  --grass-8: oklch(0.524 0.097 148.248deg / 1);
  --grass-9: oklch(0.652 0.147 147.366deg / 1);
  --grass-10: oklch(0.69 0.145 147.641deg / 1);
  --grass-11: oklch(0.78 0.142 148.463deg / 1);
  --grass-12: oklch(0.911 0.078 144.907deg / 1);
  --grass-a1: oklch(0.844 0.364 145.897deg / 0.017);
  --grass-a2: oklch(0.885 0.227 151.747deg / 0.038);
  --grass-a3: oklch(0.891 0.212 149.368deg / 0.106);
  --grass-a4: oklch(0.887 0.229 149.306deg / 0.169);
  --grass-a5: oklch(0.896 0.215 149.124deg / 0.227);
  --grass-a6: oklch(0.901 0.203 148.808deg / 0.29);
  --grass-a7: oklch(0.904 0.197 148.26deg / 0.358);
  --grass-a8: oklch(0.905 0.195 148.287deg / 0.433);
  --grass-a9: oklch(0.898 0.216 147.212deg / 0.622);
  --grass-a10: oklch(0.901 0.2 147.551deg / 0.673);
  --grass-a11: oklch(0.78 0.142 148.463deg / 1);
  --grass-a12: oklch(0.911 0.078 144.907deg / 1);
  --green-1: oklch(0.189 0.013 163.268deg / 1);
  --green-2: oklch(0.213 0.016 162.225deg / 1);
  --green-3: oklch(0.271 0.039 162.668deg / 1);
  --green-4: oklch(0.318 0.057 161.544deg / 1);
  --green-5: oklch(0.365 0.066 161.113deg / 1);
  --green-6: oklch(0.413 0.073 160.732deg / 1);
  --green-7: oklch(0.467 0.083 159.908deg / 1);
  --green-8: oklch(0.527 0.096 159.193deg / 1);
  --green-9: oklch(0.64 0.133 157.751deg / 1);
  --green-10: oklch(0.676 0.141 157.56deg / 1);
  --green-11: oklch(0.78 0.166 157.231deg / 1);
  --green-12: oklch(0.905 0.083 158.276deg / 1);
  --green-a1: oklch(0.847 0.337 148.666deg / 0.017);
  --green-a2: oklch(0.864 0.235 157.904deg / 0.043);
  --green-a3: oklch(0.879 0.227 159.122deg / 0.114);
  --green-a4: oklch(0.875 0.237 158.564deg / 0.173);
  --green-a5: oklch(0.885 0.218 159.804deg / 0.232);
  --green-a6: oklch(0.894 0.199 160.015deg / 0.29);
  --green-a7: oklch(0.898 0.191 158.67deg / 0.362);
  --green-a8: oklch(0.9 0.185 159.091deg / 0.442);
  --green-a9: oklch(0.893 0.198 157.378deg / 0.61);
  --green-a10: oklch(0.895 0.199 157.098deg / 0.66);
  --green-a11: oklch(0.78 0.166 157.231deg / 1);
  --green-a12: oklch(0.905 0.083 158.276deg / 1);
  --indigo-1: oklch(0.191 0.025 276.725deg / 1);
  --indigo-2: oklch(0.209 0.03 275.951deg / 1);
  --indigo-3: oklch(0.272 0.069 267.841deg / 1);
  --indigo-4: oklch(0.319 0.093 267.039deg / 1);
  --indigo-5: oklch(0.362 0.105 267.503deg / 1);
  --indigo-6: oklch(0.404 0.111 268.34deg / 1);
  --indigo-7: oklch(0.45 0.12 268.8deg / 1);
  --indigo-8: oklch(0.503 0.137 268.406deg / 1);
  --indigo-9: oklch(0.544 0.191 267.076deg / 1);
  --indigo-10: oklch(0.59 0.176 269.188deg / 1);
  --indigo-11: oklch(0.777 0.123 273.28deg / 1);
  --indigo-12: oklch(0.911 0.043 269.99deg / 1);
  --indigo-a1: oklch(0.5 0.298 263.953deg / 0.055);
  --indigo-a2: oklch(0.558 0.255 268.104deg / 0.085);
  --indigo-a3: oklch(0.584 0.244 264.617deg / 0.223);
  --indigo-a4: oklch(0.593 0.238 264.898deg / 0.324);
  --indigo-a5: oklch(0.613 0.224 266.338deg / 0.4);
  --indigo-a6: oklch(0.637 0.209 266.997deg / 0.467);
  --indigo-a7: oklch(0.65 0.201 267.567deg / 0.547);
  --indigo-a8: oklch(0.656 0.197 268.275deg / 0.652);
  --indigo-a9: oklch(0.613 0.224 266.635deg / 0.824);
  --indigo-a10: oklch(0.651 0.2 269.381deg / 0.858);
  --indigo-a11: oklch(0.777 0.123 273.28deg / 1);
  --indigo-a12: oklch(0.911 0.043 269.99deg / 1);
  --iris-1: oklch(0.193 0.022 284.188deg / 1);
  --iris-2: oklch(0.209 0.029 286.543deg / 1);
  --iris-3: oklch(0.273 0.069 278.582deg / 1);
  --iris-4: oklch(0.319 0.102 276.099deg / 1);
  --iris-5: oklch(0.358 0.109 277.405deg / 1);
  --iris-6: oklch(0.399 0.112 279.644deg / 1);
  --iris-7: oklch(0.448 0.12 280.784deg / 1);
  --iris-8: oklch(0.507 0.138 281.094deg / 1);
  --iris-9: oklch(0.54 0.184 278.296deg / 1);
  --iris-10: oklch(0.587 0.172 281.185deg / 1);
  --iris-11: oklch(0.776 0.131 286.563deg / 1);
  --iris-12: oklch(0.914 0.042 286.979deg / 1);
  --iris-a1: oklch(0.516 0.286 270.49deg / 0.051);
  --iris-a2: oklch(0.567 0.259 277.781deg / 0.08);
  --iris-a3: oklch(0.587 0.243 274.625deg / 0.219);
  --iris-a4: oklch(0.578 0.249 272.629deg / 0.337);
  --iris-a5: oklch(0.602 0.234 275.08deg / 0.4);
  --iris-a6: oklch(0.633 0.216 278.282deg / 0.454);
  --iris-a7: oklch(0.657 0.201 279.326deg / 0.534);
  --iris-a8: oklch(0.663 0.198 280.397deg / 0.652);
  --iris-a9: oklch(0.623 0.222 277.823deg / 0.799);
  --iris-a10: oklch(0.66 0.2 281.048deg / 0.832);
  --iris-a11: oklch(0.776 0.131 286.563deg / 1);
  --iris-a12: oklch(0.914 0.042 286.979deg / 1);
  --jade-1: oklch(0.188 0.014 166.298deg / 1);
  --jade-2: oklch(0.216 0.018 166.111deg / 1);
  --jade-3: oklch(0.272 0.042 166.819deg / 1);
  --jade-4: oklch(0.316 0.057 168.02deg / 1);
  --jade-5: oklch(0.362 0.064 168.518deg / 1);
  --jade-6: oklch(0.411 0.068 169.689deg / 1);
  --jade-7: oklch(0.468 0.075 170.639deg / 1);
  --jade-8: oklch(0.537 0.088 171.796deg / 1);
  --jade-9: oklch(0.642 0.115 170.848deg / 1);
  --jade-10: oklch(0.678 0.125 169.87deg / 1);
  --jade-11: oklch(0.785 0.156 167.095deg / 1);
  --jade-12: oklch(0.903 0.078 166.978deg / 1);
  --jade-a1: oklch(0.847 0.337 148.666deg / 0.017);
  --jade-a2: oklch(0.869 0.233 160.33deg / 0.047);
  --jade-a3: oklch(0.875 0.24 161.719deg / 0.118);
  --jade-a4: oklch(0.875 0.23 164.25deg / 0.173);
  --jade-a5: oklch(0.885 0.211 165.709deg / 0.227);
  --jade-a6: oklch(0.896 0.186 169.082deg / 0.286);
  --jade-a7: oklch(0.902 0.174 168.607deg / 0.362);
  --jade-a8: oklch(0.906 0.165 171.602deg / 0.45);
  --jade-a9: oklch(0.899 0.173 170.518deg / 0.606);
  --jade-a10: oklch(0.901 0.175 170.21deg / 0.656);
  --jade-a11: oklch(0.785 0.156 167.095deg / 1);
  --jade-a12: oklch(0.903 0.078 166.978deg / 1);
  --lime-1: oklch(0.18 0.014 120.257deg / 1);
  --lime-2: oklch(0.208 0.019 128.971deg / 1);
  --lime-3: oklch(0.266 0.034 132.181deg / 1);
  --lime-4: oklch(0.317 0.047 131.831deg / 1);
  --lime-5: oklch(0.363 0.058 131.643deg / 1);
  --lime-6: oklch(0.412 0.069 131.403deg / 1);
  --lime-7: oklch(0.464 0.08 131.164deg / 1);
  --lime-8: oklch(0.524 0.095 130.858deg / 1);
  --lime-9: oklch(0.888 0.175 126.087deg / 1);
  --lime-10: oklch(0.942 0.175 123.728deg / 1);
  --lime-11: oklch(0.868 0.156 124.785deg / 1);
  --lime-12: oklch(0.946 0.082 122.616deg / 1);
  --lime-a1: oklch(0.811 0.35 145.443deg / 0.009);
  --lime-a2: oklch(0.885 0.304 135.819deg / 0.038);
  --lime-a3: oklch(0.908 0.242 134.458deg / 0.101);
  --lime-a4: oklch(0.916 0.222 133.291deg / 0.16);
  --lime-a5: oklch(0.92 0.21 133.126deg / 0.215);
  --lime-a6: oklch(0.925 0.203 131.647deg / 0.274);
  --lime-a7: oklch(0.926 0.196 132.335deg / 0.341);
  --lime-a8: oklch(0.929 0.192 131.245deg / 0.416);
  --lime-a9: oklch(0.939 0.186 126.239deg / 0.925);
  --lime-a10: oklch(0.946 0.176 123.57deg / 0.996);
  --lime-a11: oklch(0.868 0.156 124.785deg / 1);
  --lime-a12: oklch(0.946 0.082 122.616deg / 1);
  --mint-1: oklch(0.188 0.012 192.273deg / 1);
  --mint-2: oklch(0.21 0.017 196.608deg / 1);
  --mint-3: oklch(0.269 0.039 192.528deg / 1);
  --mint-4: oklch(0.313 0.058 191.646deg / 1);
  --mint-5: oklch(0.359 0.063 188.938deg / 1);
  --mint-6: oklch(0.41 0.067 186.271deg / 1);
  --mint-7: oklch(0.471 0.073 183.351deg / 1);
  --mint-8: oklch(0.54 0.085 179.559deg / 1);
  --mint-9: oklch(0.87 0.1 177.97deg / 1);
  --mint-10: oklch(0.916 0.08 179.365deg / 1);
  --mint-11: oklch(0.795 0.118 176.384deg / 1);
  --mint-12: oklch(0.93 0.057 168.487deg / 1);
  --mint-a1: oklch(0.887 0.204 193.138deg / 0.017);
  --mint-a2: oklch(0.88 0.201 193.16deg / 0.043);
  --mint-a3: oklch(0.893 0.198 193.23deg / 0.11);
  --mint-a4: oklch(0.889 0.204 190.683deg / 0.169);
  --mint-a5: oklch(0.894 0.195 187.551deg / 0.223);
  --mint-a6: oklch(0.901 0.179 185.291deg / 0.286);
  --mint-a7: oklch(0.907 0.164 182.203deg / 0.362);
  --mint-a8: oklch(0.908 0.16 178.679deg / 0.454);
  --mint-a9: oklch(0.932 0.108 177.882deg / 0.904);
  --mint-a10: oklch(0.949 0.082 179.231deg / 0.95);
  --mint-a11: oklch(0.795 0.118 176.384deg / 1);
  --mint-a12: oklch(0.93 0.057 168.487deg / 1);
  --orange-1: oklch(0.186 0.012 53.747deg / 1);
  --orange-2: oklch(0.209 0.019 67.381deg / 1);
  --orange-3: oklch(0.257 0.045 59.543deg / 1);
  --orange-4: oklch(0.293 0.08 58.647deg / 1);
  --orange-5: oklch(0.335 0.087 58.089deg / 1);
  --orange-6: oklch(0.386 0.087 55.153deg / 1);
  --orange-7: oklch(0.453 0.095 53.057deg / 1);
  --orange-8: oklch(0.541 0.116 49.748deg / 1);
  --orange-9: oklch(0.689 0.191 44.802deg / 1);
  --orange-10: oklch(0.741 0.199 46.323deg / 1);
  --orange-11: oklch(0.799 0.163 50.766deg / 1);
  --orange-12: oklch(0.925 0.052 66.22deg / 1);
  --orange-a1: oklch(0.655 0.263 34.202deg / 0.022);
  --orange-a2: oklch(0.75 0.212 54.734deg / 0.051);
  --orange-a3: oklch(0.736 0.221 49.958deg / 0.131);
  --orange-a4: oklch(0.704 0.244 41.267deg / 0.211);
  --orange-a5: oklch(0.727 0.229 46.835deg / 0.265);
  --orange-a6: oklch(0.754 0.209 51.884deg / 0.332);
  --orange-a7: oklch(0.771 0.191 51.349deg / 0.429);
  --orange-a8: oklch(0.778 0.182 50.074deg / 0.572);
  --orange-a9: oklch(0.743 0.21 44.432deg / 0.895);
  --orange-a10: oklch(0.753 0.202 46.476deg / 0.979);
  --orange-a11: oklch(0.799 0.163 50.766deg / 1);
  --orange-a12: oklch(0.925 0.052 66.22deg / 1);
  --pink-1: oklch(0.191 0.017 334.931deg / 1);
  --pink-2: oklch(0.207 0.031 338.167deg / 1);
  --pink-3: oklch(0.261 0.061 337.462deg / 1);
  --pink-4: oklch(0.299 0.098 340.136deg / 1);
  --pink-5: oklch(0.338 0.104 340.64deg / 1);
  --pink-6: oklch(0.389 0.107 341.551deg / 1);
  --pink-7: oklch(0.459 0.119 342.621deg / 1);
  --pink-8: oklch(0.545 0.145 344.106deg / 1);
  --pink-9: oklch(0.617 0.208 346.051deg / 1);
  --pink-10: oklch(0.65 0.197 346.181deg / 1);
  --pink-11: oklch(0.789 0.19 350.738deg / 1);
  --pink-12: oklch(0.905 0.059 343.227deg / 1);
  --pink-a1: oklch(0.7 0.333 338.792deg / 0.03);
  --pink-a2: oklch(0.711 0.31 343.437deg / 0.059);
  --pink-a3: oklch(0.737 0.299 338.199deg / 0.139);
  --pink-a4: oklch(0.712 0.315 342.087deg / 0.219);
  --pink-a5: oklch(0.727 0.294 342.1deg / 0.274);
  --pink-a6: oklch(0.753 0.257 342.538deg / 0.337);
  --pink-a7: oklch(0.77 0.231 343.759deg / 0.442);
  --pink-a8: oklch(0.775 0.222 344.461deg / 0.585);
  --pink-a9: oklch(0.742 0.258 346.246deg / 0.761);
  --pink-a10: oklch(0.759 0.235 346.691deg / 0.795);
  --pink-a11: oklch(0.789 0.19 350.738deg / 1);
  --pink-a12: oklch(0.905 0.059 343.227deg / 1);
  --plum-1: oklch(0.19 0.017 326.981deg / 1);
  --plum-2: oklch(0.21 0.031 327.684deg / 1);
  --plum-3: oklch(0.266 0.062 326.665deg / 1);
  --plum-4: oklch(0.307 0.088 325.273deg / 1);
  --plum-5: oklch(0.343 0.095 324.634deg / 1);
  --plum-6: oklch(0.389 0.097 324.198deg / 1);
  --plum-7: oklch(0.456 0.106 323.426deg / 1);
  --plum-8: oklch(0.545 0.128 322.161deg / 1);
  --plum-9: oklch(0.579 0.188 322.09deg / 1);
  --plum-10: oklch(0.616 0.182 322.121deg / 1);
  --plum-11: oklch(0.786 0.154 322.058deg / 1);
  --plum-12: oklch(0.906 0.055 325.834deg / 1);
  --plum-a1: oklch(0.713 0.349 331.437deg / 0.026);
  --plum-a2: oklch(0.723 0.315 327.217deg / 0.059);
  --plum-a3: oklch(0.73 0.293 326.117deg / 0.148);
  --plum-a4: oklch(0.724 0.297 325.443deg / 0.219);
  --plum-a5: oklch(0.742 0.274 325.171deg / 0.269);
  --plum-a6: oklch(0.76 0.243 323.765deg / 0.328);
  --plum-a7: oklch(0.781 0.215 322.802deg / 0.425);
  --plum-a8: oklch(0.789 0.204 322.379deg / 0.568);
  --plum-a9: oklch(0.74 0.253 321.767deg / 0.69);
  --plum-a10: oklch(0.756 0.236 322.274deg / 0.732);
  --plum-a11: oklch(0.786 0.154 322.058deg / 1);
  --plum-a12: oklch(0.906 0.055 325.834deg / 1);
  --purple-1: oklch(0.192 0.022 315.985deg / 1);
  --purple-2: oklch(0.213 0.031 314.344deg / 1);
  --purple-3: oklch(0.266 0.062 312.03deg / 1);
  --purple-4: oklch(0.308 0.083 310.653deg / 1);
  --purple-5: oklch(0.344 0.091 310.132deg / 1);
  --purple-6: oklch(0.388 0.097 309.664deg / 1);
  --purple-7: oklch(0.45 0.108 308.731deg / 1);
  --purple-8: oklch(0.541 0.133 307.071deg / 1);
  --purple-9: oklch(0.555 0.183 305.88deg / 1);
  --purple-10: oklch(0.596 0.177 306.348deg / 1);
  --purple-11: oklch(0.785 0.156 307.9deg / 1);
  --purple-12: oklch(0.911 0.049 310.947deg / 1);
  --purple-a1: oklch(0.61 0.318 311.669deg / 0.038);
  --purple-a2: oklch(0.653 0.28 312.034deg / 0.072);
  --purple-a3: oklch(0.667 0.259 310.321deg / 0.169);
  --purple-a4: oklch(0.664 0.257 308.567deg / 0.248);
  --purple-a5: oklch(0.684 0.24 308.527deg / 0.303);
  --purple-a6: oklch(0.705 0.221 308.208deg / 0.366);
  --purple-a7: oklch(0.729 0.202 308.216deg / 0.458);
  --purple-a8: oklch(0.733 0.195 307.038deg / 0.622);
  --purple-a9: oklch(0.676 0.235 305.297deg / 0.736);
  --purple-a10: oklch(0.7 0.217 305.689deg / 0.778);
  --purple-a11: oklch(0.785 0.156 307.9deg / 1);
  --purple-a12: oklch(0.911 0.049 310.947deg / 1);
  --red-1: oklch(0.188 0.013 19.389deg / 1);
  --red-2: oklch(0.205 0.022 14.735deg / 1);
  --red-3: oklch(0.25 0.064 13.106deg / 1);
  --red-4: oklch(0.289 0.096 14.289deg / 1);
  --red-5: oklch(0.332 0.107 15.532deg / 1);
  --red-6: oklch(0.383 0.111 16.929deg / 1);
  --red-7: oklch(0.451 0.121 18.91deg / 1);
  --red-8: oklch(0.544 0.147 21.437deg / 1);
  --red-9: oklch(0.625 0.193 22.983deg / 1);
  --red-10: oklch(0.665 0.177 23.092deg / 1);
  --red-11: oklch(0.784 0.162 22.288deg / 1);
  --red-12: oklch(0.902 0.053 6.139deg / 1);
  --red-a1: oklch(0.644 0.292 28.424deg / 0.03);
  --red-a2: oklch(0.683 0.258 24.88deg / 0.055);
  --red-a3: oklch(0.666 0.281 21.8deg / 0.156);
  --red-a4: oklch(0.66 0.288 21.025deg / 0.236);
  --red-a5: oklch(0.673 0.273 20.168deg / 0.303);
  --red-a6: oklch(0.697 0.248 19.395deg / 0.374);
  --red-a7: oklch(0.72 0.223 20.343deg / 0.475);
  --red-a8: oklch(0.73 0.213 21.921deg / 0.635);
  --red-a9: oklch(0.715 0.228 23.083deg / 0.82);
  --red-a10: oklch(0.741 0.202 22.971deg / 0.853);
  --red-a11: oklch(0.784 0.162 22.288deg / 1);
  --red-a12: oklch(0.902 0.053 6.139deg / 1);
  --ruby-1: oklch(0.189 0.014 2.904deg / 1);
  --ruby-2: oklch(0.208 0.016 5.29deg / 1);
  --ruby-3: oklch(0.254 0.06 6.544deg / 1);
  --ruby-4: oklch(0.292 0.089 5.505deg / 1);
  --ruby-5: oklch(0.333 0.1 6.398deg / 1);
  --ruby-6: oklch(0.382 0.105 7.589deg / 1);
  --ruby-7: oklch(0.448 0.117 9.017deg / 1);
  --ruby-8: oklch(0.544 0.145 11.058deg / 1);
  --ruby-9: oklch(0.628 0.195 13.192deg / 1);
  --ruby-10: oklch(0.664 0.179 13.693deg / 1);
  --ruby-11: oklch(0.786 0.161 17.006deg / 1);
  --ruby-12: oklch(0.905 0.053 355.833deg / 1);
  --ruby-a1: oklch(0.651 0.288 16.079deg / 0.03);
  --ruby-a2: oklch(0.717 0.23 8.824deg / 0.051);
  --ruby-a3: oklch(0.673 0.276 13.062deg / 0.152);
  --ruby-a4: oklch(0.673 0.281 11.743deg / 0.227);
  --ruby-a5: oklch(0.689 0.264 10.571deg / 0.29);
  --ruby-a6: oklch(0.71 0.243 9.592deg / 0.358);
  --ruby-a7: oklch(0.731 0.22 9.819deg / 0.458);
  --ruby-a8: oklch(0.736 0.213 11.358deg / 0.627);
  --ruby-a9: oklch(0.717 0.231 13.504deg / 0.82);
  --ruby-a10: oklch(0.74 0.207 13.977deg / 0.849);
  --ruby-a11: oklch(0.786 0.161 17.006deg / 1);
  --ruby-a12: oklch(0.905 0.053 355.833deg / 1);
  --sky-1: oklch(0.19 0.024 257.086deg / 1);
  --sky-2: oklch(0.216 0.029 258.452deg / 1);
  --sky-3: oklch(0.271 0.054 251.879deg / 1);
  --sky-4: oklch(0.322 0.07 247.75deg / 1);
  --sky-5: oklch(0.372 0.079 245.754deg / 1);
  --sky-6: oklch(0.427 0.087 243.556deg / 1);
  --sky-7: oklch(0.488 0.098 240.689deg / 1);
  --sky-8: oklch(0.557 0.114 237.218deg / 1);
  --sky-9: oklch(0.861 0.103 217.814deg / 1);
  --sky-10: oklch(0.908 0.073 214.918deg / 1);
  --sky-11: oklch(0.793 0.099 231.671deg / 1);
  --sky-12: oklch(0.934 0.053 214.375deg / 1);
  --sky-a1: oklch(0.519 0.286 261.293deg / 0.055);
  --sky-a2: oklch(0.603 0.231 256.413deg / 0.089);
  --sky-a3: oklch(0.633 0.215 253.631deg / 0.19);
  --sky-a4: oklch(0.666 0.2 248.747deg / 0.274);
  --sky-a5: oklch(0.694 0.185 245.523deg / 0.349);
  --sky-a6: oklch(0.711 0.175 244.665deg / 0.433);
  --sky-a7: oklch(0.73 0.166 241.814deg / 0.526);
  --sky-a8: oklch(0.742 0.164 237.953deg / 0.643);
  --sky-a9: oklch(0.873 0.105 217.14deg / 0.984);
  --sky-a10: oklch(0.914 0.074 214.847deg / 0.992);
  --sky-a11: oklch(0.793 0.099 231.671deg / 1);
  --sky-a12: oklch(0.934 0.053 214.375deg / 1);
  --teal-1: oklch(0.189 0.012 184.497deg / 1);
  --teal-2: oklch(0.217 0.017 189.311deg / 1);
  --teal-3: oklch(0.274 0.038 186.349deg / 1);
  --teal-4: oklch(0.317 0.055 187deg / 1);
  --teal-5: oklch(0.363 0.06 186.518deg / 1);
  --teal-6: oklch(0.414 0.065 185.376deg / 1);
  --teal-7: oklch(0.473 0.074 184.549deg / 1);
  --teal-8: oklch(0.539 0.087 183.55deg / 1);
  --teal-9: oklch(0.649 0.113 182.005deg / 1);
  --teal-10: oklch(0.687 0.123 180.317deg / 1);
  --teal-11: oklch(0.789 0.147 175.659deg / 1);
  --teal-12: oklch(0.905 0.072 175.256deg / 1);
  --teal-a1: oklch(0.868 0.233 170.745deg / 0.017);
  --teal-a2: oklch(0.883 0.197 183.636deg / 0.047);
  --teal-a3: oklch(0.889 0.201 182.057deg / 0.118);
  --teal-a4: oklch(0.887 0.201 185.898deg / 0.173);
  --teal-a5: oklch(0.896 0.188 185.565deg / 0.227);
  --teal-a6: oklch(0.903 0.174 185.134deg / 0.286);
  --teal-a7: oklch(0.906 0.166 183.775deg / 0.366);
  --teal-a8: oklch(0.908 0.163 183.622deg / 0.454);
  --teal-a9: oklch(0.902 0.167 181.815deg / 0.61);
  --teal-a10: oklch(0.901 0.169 179.881deg / 0.669);
  --teal-a11: oklch(0.789 0.147 175.659deg / 1);
  --teal-a12: oklch(0.905 0.072 175.256deg / 1);
  --tomato-1: oklch(0.187 0.012 19.587deg / 1);
  --tomato-2: oklch(0.208 0.017 32.024deg / 1);
  --tomato-3: oklch(0.254 0.054 26.944deg / 1);
  --tomato-4: oklch(0.291 0.087 28.168deg / 1);
  --tomato-5: oklch(0.331 0.097 28.663deg / 1);
  --tomato-6: oklch(0.38 0.099 30.009deg / 1);
  --tomato-7: oklch(0.447 0.107 31.456deg / 1);
  --tomato-8: oklch(0.538 0.13 32.941deg / 1);
  --tomato-9: oklch(0.627 0.194 33.308deg / 1);
  --tomato-10: oklch(0.665 0.179 34.149deg / 1);
  --tomato-11: oklch(0.784 0.164 36.019deg / 1);
  --tomato-12: oklch(0.899 0.047 31.109deg / 1);
  --tomato-a1: oklch(0.639 0.289 28.411deg / 0.026);
  --tomato-a2: oklch(0.703 0.236 33.862deg / 0.051);
  --tomato-a3: oklch(0.68 0.261 30.784deg / 0.148);
  --tomato-a4: oklch(0.667 0.279 29.944deg / 0.232);
  --tomato-a5: oklch(0.683 0.261 30.215deg / 0.29);
  --tomato-a6: oklch(0.712 0.231 31.561deg / 0.353);
  --tomato-a7: oklch(0.735 0.208 31.716deg / 0.45);
  --tomato-a8: oklch(0.746 0.198 33.025deg / 0.601);
  --tomato-a9: oklch(0.716 0.227 33.501deg / 0.82);
  --tomato-a10: oklch(0.741 0.203 34.218deg / 0.853);
  --tomato-a11: oklch(0.784 0.164 36.019deg / 1);
  --tomato-a12: oklch(0.899 0.047 31.109deg / 1);
  --violet-1: oklch(0.191 0.026 290.52deg / 1);
  --violet-2: oklch(0.211 0.032 299.462deg / 1);
  --violet-3: oklch(0.271 0.066 293.915deg / 1);
  --violet-4: oklch(0.312 0.093 291.747deg / 1);
  --violet-5: oklch(0.348 0.099 291.4deg / 1);
  --violet-6: oklch(0.39 0.102 291.825deg / 1);
  --violet-7: oklch(0.445 0.111 291.574deg / 1);
  --violet-8: oklch(0.516 0.131 290.205deg / 1);
  --violet-9: oklch(0.542 0.179 288.096deg / 1);
  --violet-10: oklch(0.588 0.17 289.684deg / 1);
  --violet-11: oklch(0.778 0.137 293.624deg / 1);
  --violet-12: oklch(0.912 0.045 292.613deg / 1);
  --violet-a1: oklch(0.508 0.297 276.178deg / 0.055);
  --violet-a2: oklch(0.586 0.271 293.423deg / 0.08);
  --violet-a3: oklch(0.602 0.249 289.312deg / 0.202);
  --violet-a4: oklch(0.605 0.247 288.425deg / 0.299);
  --violet-a5: oklch(0.629 0.232 289.636deg / 0.353);
  --violet-a6: oklch(0.662 0.211 290.641deg / 0.408);
  --violet-a7: oklch(0.682 0.196 290.127deg / 0.496);
  --violet-a8: oklch(0.69 0.19 289.867deg / 0.631);
  --violet-a9: oklch(0.64 0.222 287.519deg / 0.769);
  --violet-a10: oklch(0.675 0.201 289.612deg / 0.811);
  --violet-a11: oklch(0.778 0.137 293.624deg / 1);
  --violet-a12: oklch(0.912 0.045 292.613deg / 1);
  --yellow-1: oklch(0.181 0.013 86.01deg / 1);
  --yellow-2: oklch(0.209 0.017 92.088deg / 1);
  --yellow-3: oklch(0.259 0.047 90.289deg / 1);
  --yellow-4: oklch(0.293 0.069 94.199deg / 1);
  --yellow-5: oklch(0.333 0.079 94.59deg / 1);
  --yellow-6: oklch(0.384 0.077 93.305deg / 1);
  --yellow-7: oklch(0.452 0.081 91.504deg / 1);
  --yellow-8: oklch(0.535 0.095 89.927deg / 1);
  --yellow-9: oklch(0.927 0.209 102.143deg / 1);
  --yellow-10: oklch(0.971 0.182 109.361deg / 1);
  --yellow-11: oklch(0.9 0.166 101.64deg / 1);
  --yellow-12: oklch(0.941 0.075 101.044deg / 1);
  --yellow-a1: oklch(0.69 0.241 40.877deg / 0.013);
  --yellow-a2: oklch(0.863 0.203 88.65deg / 0.038);
  --yellow-a3: oklch(0.825 0.198 77.712deg / 0.11);
  --yellow-a4: oklch(0.839 0.199 81.925deg / 0.152);
  --yellow-a5: oklch(0.85 0.201 85.132deg / 0.202);
  --yellow-a6: oklch(0.874 0.203 91.293deg / 0.261);
  --yellow-a7: oklch(0.885 0.184 90.371deg / 0.345);
  --yellow-a8: oklch(0.886 0.175 89.109deg / 0.463);
  --yellow-a9: oklch(0.928 0.209 102.362deg / 1);
  --yellow-a10: oklch(0.971 0.182 109.365deg / 1);
  --yellow-a11: oklch(0.9 0.166 101.64deg / 1);
  --yellow-a12: oklch(0.941 0.075 101.044deg / 1);
  --gray-contrast: #fff;
  --mauve-contrast: #fff;
  --slate-contrast: #fff;
  --sage-contrast: #fff;
  --olive-contrast: #fff;
  --sand-contrast: #fff;
  --amber-contrast: #21201c;
  --blue-contrast: #fff;
  --bronze-contrast: #fff;
  --brown-contrast: #fff;
  --crimson-contrast: #fff;
  --cyan-contrast: #fff;
  --gold-contrast: #fff;
  --grass-contrast: #fff;
  --green-contrast: #fff;
  --indigo-contrast: #fff;
  --iris-contrast: #fff;
  --jade-contrast: #fff;
  --lime-contrast: #1d211c;
  --mint-contrast: #1a211e;
  --orange-contrast: #fff;
  --pink-contrast: #fff;
  --plum-contrast: #fff;
  --purple-contrast: #fff;
  --red-contrast: #fff;
  --ruby-contrast: #fff;
  --sky-contrast: #1c2024;
  --teal-contrast: #fff;
  --tomato-contrast: #fff;
  --violet-contrast: #fff;
  --yellow-contrast: #21201c;
}
