:root {
  --gray-1: oklch(0.991 0 0deg / 1);
  --gray-2: oklch(0.981 0 0deg / 1);
  --gray-3: oklch(0.953 0 0deg / 1);
  --gray-4: oklch(0.93 0 0deg / 1);
  --gray-5: oklch(0.908 0 0deg / 1);
  --gray-6: oklch(0.884 0 0deg / 1);
  --gray-7: oklch(0.851 0 0deg / 1);
  --gray-8: oklch(0.791 0 0deg / 1);
  --gray-9: oklch(0.643 0 0deg / 1);
  --gray-10: oklch(0.609 0 0deg / 1);
  --gray-11: oklch(0.503 0 0deg / 1);
  --gray-12: oklch(0.243 0 0deg / 1);
  --gray-a1: oklch(0 0 0deg / 0.012);
  --gray-a2: oklch(0 0 0deg / 0.024);
  --gray-a3: oklch(0 0 0deg / 0.063);
  --gray-a4: oklch(0 0 0deg / 0.09);
  --gray-a5: oklch(0 0 0deg / 0.122);
  --gray-a6: oklch(0 0 0deg / 0.153);
  --gray-a7: oklch(0 0 0deg / 0.192);
  --gray-a8: oklch(0 0 0deg / 0.267);
  --gray-a9: oklch(0 0 0deg / 0.447);
  --gray-a10: oklch(0 0 0deg / 0.486);
  --gray-a11: oklch(0 0 0deg / 0.608);
  --gray-a12: oklch(0 0 0deg / 0.875);
  --mauve-1: oklch(0.992 0.002 321.133deg / 1);
  --mauve-2: oklch(0.983 0.003 311.22deg / 1);
  --mauve-3: oklch(0.956 0.006 314.236deg / 1);
  --mauve-4: oklch(0.932 0.008 310.01deg / 1);
  --mauve-5: oklch(0.909 0.01 306.608deg / 1);
  --mauve-6: oklch(0.886 0.012 303.952deg / 1);
  --mauve-7: oklch(0.854 0.014 300.592deg / 1);
  --mauve-8: oklch(0.794 0.019 293.522deg / 1);
  --mauve-9: oklch(0.646 0.019 292.616deg / 1);
  --mauve-10: oklch(0.611 0.018 293.072deg / 1);
  --mauve-11: oklch(0.505 0.016 296.085deg / 1);
  --mauve-12: oklch(0.245 0.013 298.045deg / 1);
  --mauve-a1: oklch(0.34 0.162 331.386deg / 0.012);
  --mauve-a2: oklch(0.269 0.139 301.297deg / 0.024);
  --mauve-a3: oklch(0.216 0.114 301.896deg / 0.063);
  --mauve-a4: oklch(0.192 0.099 297.034deg / 0.095);
  --mauve-a5: oklch(0.195 0.103 297.517deg / 0.126);
  --mauve-a6: oklch(0.162 0.09 290.134deg / 0.153);
  --mauve-a7: oklch(0.17 0.089 293.437deg / 0.197);
  --mauve-a8: oklch(0.149 0.09 275.566deg / 0.271);
  --mauve-a9: oklch(0.121 0.064 286.364deg / 0.451);
  --mauve-a10: oklch(0.11 0.058 281.469deg / 0.491);
  --mauve-a11: oklch(0.095 0.052 300.398deg / 0.612);
  --mauve-a12: oklch(0.073 0.04 303.384deg / 0.879);
  --slate-1: oklch(0.991 0.001 286.373deg / 1);
  --slate-2: oklch(0.982 0.003 286.345deg / 1);
  --slate-3: oklch(0.956 0.004 281.883deg / 1);
  --slate-4: oklch(0.931 0.006 282.957deg / 1);
  --slate-5: oklch(0.91 0.008 283.588deg / 1);
  --slate-6: oklch(0.888 0.009 281.785deg / 1);
  --slate-7: oklch(0.853 0.012 280.848deg / 1);
  --slate-8: oklch(0.794 0.016 278.118deg / 1);
  --slate-9: oklch(0.646 0.016 277.829deg / 1);
  --slate-10: oklch(0.61 0.016 273.244deg / 1);
  --slate-11: oklch(0.503 0.014 263.437deg / 1);
  --slate-12: oklch(0.241 0.01 249.517deg / 1);
  --slate-a1: oklch(0.228 0.142 267.446deg / 0.012);
  --slate-a2: oklch(0.228 0.142 267.446deg / 0.024);
  --slate-a3: oklch(0.156 0.102 265.835deg / 0.059);
  --slate-a4: oklch(0.155 0.09 269.422deg / 0.091);
  --slate-a5: oklch(0.174 0.087 261.496deg / 0.122);
  --slate-a6: oklch(0.143 0.085 268.621deg / 0.15);
  --slate-a7: oklch(0.163 0.084 264.839deg / 0.197);
  --slate-a8: oklch(0.161 0.08 261.894deg / 0.275);
  --slate-a9: oklch(0.129 0.055 261.115deg / 0.455);
  --slate-a10: oklch(0.133 0.047 255.655deg / 0.499);
  --slate-a11: oklch(0.114 0.037 244.431deg / 0.62);
  --slate-a12: oklch(0.093 0.027 236.664deg / 0.887);
  --sage-1: oklch(0.992 0.003 160.4deg / 1);
  --sage-2: oklch(0.981 0.003 171.196deg / 1);
  --sage-3: oklch(0.955 0.003 170.383deg / 1);
  --sage-4: oklch(0.931 0.003 170.381deg / 1);
  --sage-5: oklch(0.909 0.004 167.67deg / 1);
  --sage-6: oklch(0.885 0.004 167.667deg / 1);
  --sage-7: oklch(0.851 0.004 169.853deg / 1);
  --sage-8: oklch(0.792 0.005 169.48deg / 1);
  --sage-9: oklch(0.639 0.01 172.382deg / 1);
  --sage-10: oklch(0.605 0.01 172.837deg / 1);
  --sage-11: oklch(0.501 0.008 175.924deg / 1);
  --sage-12: oklch(0.24 0.012 166.782deg / 1);
  --sage-a1: oklch(0.526 0.173 156.3deg / 0.016);
  --sage-a2: oklch(0.335 0.102 158.661deg / 0.032);
  --sage-a3: oklch(0.267 0.071 168.011deg / 0.067);
  --sage-a4: oklch(0.184 0.046 162.314deg / 0.095);
  --sage-a5: oklch(0.186 0.056 155.555deg / 0.126);
  --sage-a6: oklch(0.166 0.05 157.239deg / 0.157);
  --sage-a7: oklch(0.148 0.038 174.771deg / 0.2);
  --sage-a8: oklch(0.137 0.031 174.3deg / 0.275);
  --sage-a9: oklch(0.149 0.036 169.943deg / 0.471);
  --sage-a10: oklch(0.135 0.034 175.986deg / 0.51);
  --sage-a11: oklch(0.117 0.03 175.562deg / 0.624);
  --sage-a12: oklch(0.111 0.032 165.519deg / 0.895);
  --olive-1: oklch(0.993 0.002 149.084deg / 1);
  --olive-2: oklch(0.983 0.003 144.76deg / 1);
  --olive-3: oklch(0.956 0.004 141.138deg / 1);
  --olive-4: oklch(0.932 0.004 142.11deg / 1);
  --olive-5: oklch(0.909 0.005 139.33deg / 1);
  --olive-6: oklch(0.886 0.006 141.14deg / 1);
  --olive-7: oklch(0.852 0.006 141.141deg / 1);
  --olive-8: oklch(0.792 0.007 140.551deg / 1);
  --olive-9: oklch(0.64 0.011 136.534deg / 1);
  --olive-10: oklch(0.605 0.012 136.541deg / 1);
  --olive-11: oklch(0.5 0.011 139.892deg / 1);
  --olive-12: oklch(0.242 0.011 138.234deg / 1);
  --olive-a1: oklch(0.395 0.165 145.812deg / 0.012);
  --olive-a2: oklch(0.359 0.148 145.867deg / 0.028);
  --olive-a3: oklch(0.212 0.084 145.998deg / 0.063);
  --olive-a4: oklch(0.181 0.064 146.443deg / 0.095);
  --olive-a5: oklch(0.189 0.061 138.634deg / 0.126);
  --olive-a6: oklch(0.17 0.055 137.156deg / 0.157);
  --olive-a7: oklch(0.15 0.051 134.926deg / 0.2);
  --olive-a8: oklch(0.151 0.047 137.027deg / 0.279);
  --olive-a9: oklch(0.143 0.042 135.082deg / 0.467);
  --olive-a10: oklch(0.141 0.043 128.372deg / 0.51);
  --olive-a11: oklch(0.128 0.044 135.456deg / 0.628);
  --olive-a12: oklch(0.11 0.037 134.558deg / 0.891);
  --sand-1: oklch(0.994 0.001 106.42deg / 1);
  --sand-2: oklch(0.982 0.001 106.427deg / 1);
  --sand-3: oklch(0.956 0.002 97.614deg / 1);
  --sand-4: oklch(0.932 0.003 100.555deg / 1);
  --sand-5: oklch(0.91 0.004 95.909deg / 1);
  --sand-6: oklch(0.886 0.005 98.337deg / 1);
  --sand-7: oklch(0.853 0.006 96.604deg / 1);
  --sand-8: oklch(0.792 0.008 96.497deg / 1);
  --sand-9: oklch(0.641 0.01 106.686deg / 1);
  --sand-10: oklch(0.606 0.01 106.682deg / 1);
  --sand-11: oklch(0.498 0.008 106.682deg / 1);
  --sand-12: oklch(0.243 0.008 96.313deg / 1);
  --sand-a1: oklch(0.448 0.11 110.131deg / 0.012);
  --sand-a2: oklch(0.272 0.06 109.798deg / 0.028);
  --sand-a3: oklch(0.172 0.036 109.67deg / 0.063);
  --sand-a4: oklch(0.239 0.055 109.909deg / 0.099);
  --sand-a5: oklch(0.184 0.038 83.247deg / 0.126);
  --sand-a6: oklch(0.191 0.042 90.025deg / 0.161);
  --sand-a7: oklch(0.206 0.05 110.061deg / 0.208);
  --sand-a8: oklch(0.185 0.042 101.909deg / 0.287);
  --sand-a9: oklch(0.154 0.034 109.832deg / 0.471);
  --sand-a10: oklch(0.149 0.038 110.23deg / 0.514);
  --sand-a11: oklch(0.129 0.033 110.23deg / 0.632);
  --sand-a12: oklch(0.114 0.028 103.249deg / 0.891);
  --amber-1: oklch(0.994 0.003 84.624deg / 1);
  --amber-2: oklch(0.986 0.024 100.258deg / 1);
  --amber-3: oklch(0.969 0.069 100.36deg / 1);
  --amber-4: oklch(0.945 0.104 98.192deg / 1);
  --amber-5: oklch(0.918 0.133 98.396deg / 1);
  --amber-6: oklch(0.881 0.124 93.238deg / 1);
  --amber-7: oklch(0.827 0.122 86.175deg / 1);
  --amber-8: oklch(0.758 0.14 76.701deg / 1);
  --amber-9: oklch(0.856 0.178 81.37deg / 1);
  --amber-10: oklch(0.831 0.168 80.938deg / 1);
  --amber-11: oklch(0.569 0.144 67.281deg / 1);
  --amber-12: oklch(0.352 0.049 53.737deg / 1);
  --amber-a1: oklch(0.662 0.16 73.445deg / 0.016);
  --amber-a2: oklch(0.843 0.203 100.038deg / 0.079);
  --amber-a3: oklch(0.886 0.213 99.879deg / 0.22);
  --amber-a4: oklch(0.868 0.206 94.935deg / 0.35);
  --amber-a5: oklch(0.847 0.201 95.777deg / 0.475);
  --amber-a6: oklch(0.776 0.183 86.797deg / 0.495);
  --amber-a7: oklch(0.704 0.169 78.172deg / 0.557);
  --amber-a8: oklch(0.666 0.168 68.127deg / 0.699);
  --amber-a9: oklch(0.816 0.199 74.046deg / 0.742);
  --amber-a10: oklch(0.78 0.19 73.42deg / 0.726);
  --amber-a11: oklch(0.569 0.144 67.281deg / 1);
  --amber-a12: oklch(0.352 0.049 53.737deg / 1);
  --blue-1: oklch(0.993 0.003 247.644deg / 1);
  --blue-2: oklch(0.982 0.01 243.258deg / 1);
  --blue-3: oklch(0.96 0.02 236.713deg / 1);
  --blue-4: oklch(0.937 0.037 239.027deg / 1);
  --blue-5: oklch(0.906 0.053 242.803deg / 1);
  --blue-6: oklch(0.864 0.069 243.182deg / 1);
  --blue-7: oklch(0.809 0.088 243.34deg / 1);
  --blue-8: oklch(0.735 0.121 242.995deg / 1);
  --blue-9: oklch(0.649 0.193 251.813deg / 1);
  --blue-10: oklch(0.621 0.184 251.917deg / 1);
  --blue-11: oklch(0.558 0.189 253.01deg / 1);
  --blue-12: oklch(0.324 0.097 258.956deg / 1);
  --blue-a1: oklch(0.622 0.228 250.437deg / 0.016);
  --blue-a2: oklch(0.604 0.199 245.812deg / 0.04);
  --blue-a3: oklch(0.601 0.203 246.909deg / 0.087);
  --blue-a4: oklch(0.638 0.22 247.772deg / 0.146);
  --blue-a5: oklch(0.612 0.226 250.482deg / 0.212);
  --blue-a6: oklch(0.58 0.217 250.951deg / 0.291);
  --blue-a7: oklch(0.552 0.206 251.02deg / 0.393);
  --blue-a8: oklch(0.547 0.204 250.757deg / 0.55);
  --blue-a9: oklch(0.564 0.242 255.635deg / 0.753);
  --blue-a10: oklch(0.529 0.228 255.728deg / 0.765);
  --blue-a11: oklch(0.558 0.189 253.01deg / 1);
  --blue-a12: oklch(0.324 0.097 258.956deg / 1);
  --bronze-1: oklch(0.992 0.001 15.916deg / 1);
  --bronze-2: oklch(0.981 0.007 42.988deg / 1);
  --bronze-3: oklch(0.953 0.01 44.264deg / 1);
  --bronze-4: oklch(0.925 0.014 43.573deg / 1);
  --bronze-5: oklch(0.895 0.018 42.643deg / 1);
  --bronze-6: oklch(0.86 0.023 43.401deg / 1);
  --bronze-7: oklch(0.811 0.03 41.939deg / 1);
  --bronze-8: oklch(0.742 0.039 41.183deg / 1);
  --bronze-9: oklch(0.627 0.046 44.292deg / 1);
  --bronze-10: oklch(0.588 0.045 42.443deg / 1);
  --bronze-11: oklch(0.51 0.044 38.366deg / 1);
  --bronze-12: oklch(0.329 0.029 35.241deg / 1);
  --bronze-a1: oklch(0.306 0.133 27.497deg / 0.012);
  --bronze-a2: oklch(0.534 0.199 36.668deg / 0.04);
  --bronze-a3: oklch(0.422 0.134 45.505deg / 0.083);
  --bronze-a4: oklch(0.371 0.133 39.105deg / 0.122);
  --bronze-a5: oklch(0.364 0.122 42.571deg / 0.169);
  --bronze-a6: oklch(0.351 0.123 39.996deg / 0.224);
  --bronze-a7: oklch(0.334 0.119 38.996deg / 0.295);
  --bronze-a8: oklch(0.32 0.113 39.168deg / 0.393);
  --bronze-a9: oklch(0.29 0.099 42.359deg / 0.546);
  --bronze-a10: oklch(0.268 0.09 43.169deg / 0.585);
  --bronze-a11: oklch(0.51 0.044 38.366deg / 1);
  --bronze-a12: oklch(0.329 0.029 35.241deg / 1);
  --brown-1: oklch(0.994 0.002 63.24deg / 1);
  --brown-2: oklch(0.983 0.006 65.735deg / 1);
  --brown-3: oklch(0.954 0.013 67.815deg / 1);
  --brown-4: oklch(0.926 0.02 66.854deg / 1);
  --brown-5: oklch(0.897 0.029 65.788deg / 1);
  --brown-6: oklch(0.862 0.039 65.465deg / 1);
  --brown-7: oklch(0.815 0.053 64.22deg / 1);
  --brown-8: oklch(0.747 0.072 62.448deg / 1);
  --brown-9: oklch(0.633 0.078 60.775deg / 1);
  --brown-10: oklch(0.597 0.072 59.281deg / 1);
  --brown-11: oklch(0.512 0.058 55.458deg / 1);
  --brown-12: oklch(0.332 0.018 46.975deg / 1);
  --brown-a1: oklch(0.561 0.159 53.523deg / 0.012);
  --brown-a2: oklch(0.561 0.159 53.523deg / 0.036);
  --brown-a3: oklch(0.506 0.137 57.878deg / 0.091);
  --brown-a4: oklch(0.49 0.132 58.944deg / 0.146);
  --brown-a5: oklch(0.491 0.138 54.828deg / 0.204);
  --brown-a6: oklch(0.49 0.135 56.5deg / 0.271);
  --brown-a7: oklch(0.488 0.138 54.487deg / 0.361);
  --brown-a8: oklch(0.48 0.138 53.226deg / 0.487);
  --brown-a9: oklch(0.414 0.119 53.578deg / 0.632);
  --brown-a10: oklch(0.375 0.108 53.661deg / 0.655);
  --brown-a11: oklch(0.512 0.058 55.458deg / 1);
  --brown-a12: oklch(0.332 0.018 46.975deg / 1);
  --crimson-1: oklch(0.994 0.003 356.308deg / 1);
  --crimson-2: oklch(0.982 0.008 357.234deg / 1);
  --crimson-3: oklch(0.954 0.026 356.273deg / 1);
  --crimson-4: oklch(0.925 0.041 356.3deg / 1);
  --crimson-5: oklch(0.893 0.054 355.766deg / 1);
  --crimson-6: oklch(0.855 0.065 355.574deg / 1);
  --crimson-7: oklch(0.808 0.078 354.798deg / 1);
  --crimson-8: oklch(0.75 0.099 354.119deg / 1);
  --crimson-9: oklch(0.634 0.213 1.304deg / 1);
  --crimson-10: oklch(0.608 0.211 2.355deg / 1);
  --crimson-11: oklch(0.552 0.207 4.487deg / 1);
  --crimson-12: oklch(0.341 0.113 356.827deg / 1);
  --crimson-a1: oklch(0.5 0.224 1.784deg / 0.012);
  --crimson-a2: oklch(0.535 0.239 13.835deg / 0.032);
  --crimson-a3: oklch(0.586 0.264 14.747deg / 0.083);
  --crimson-a4: oklch(0.571 0.256 13.408deg / 0.134);
  --crimson-a5: oklch(0.532 0.239 12.817deg / 0.189);
  --crimson-a6: oklch(0.494 0.222 12.682deg / 0.244);
  --crimson-a7: oklch(0.463 0.208 9.384deg / 0.318);
  --crimson-a8: oklch(0.453 0.204 8.319deg / 0.408);
  --crimson-a9: oklch(0.545 0.246 11.497deg / 0.702);
  --crimson-a10: oklch(0.524 0.236 12.109deg / 0.734);
  --crimson-a11: oklch(0.552 0.207 4.487deg / 1);
  --crimson-a12: oklch(0.341 0.113 356.827deg / 1);
  --cyan-1: oklch(0.992 0.004 219.247deg / 1);
  --cyan-2: oklch(0.98 0.009 202.888deg / 1);
  --cyan-3: oklch(0.958 0.026 203.61deg / 1);
  --cyan-4: oklch(0.932 0.041 204.736deg / 1);
  --cyan-5: oklch(0.9 0.054 206.492deg / 1);
  --cyan-6: oklch(0.859 0.066 207.667deg / 1);
  --cyan-7: oklch(0.805 0.082 209.576deg / 1);
  --cyan-8: oklch(0.727 0.11 211.673deg / 1);
  --cyan-9: oklch(0.661 0.122 221.491deg / 1);
  --cyan-10: oklch(0.627 0.114 221.315deg / 1);
  --cyan-11: oklch(0.54 0.127 223.718deg / 1);
  --cyan-12: oklch(0.332 0.053 218.573deg / 1);
  --cyan-a1: oklch(0.64 0.158 223.842deg / 0.02);
  --cyan-a2: oklch(0.588 0.134 209.63deg / 0.044);
  --cyan-a3: oklch(0.69 0.158 208.347deg / 0.114);
  --cyan-a4: oklch(0.679 0.156 209.248deg / 0.181);
  --cyan-a5: oklch(0.64 0.148 210.93deg / 0.248);
  --cyan-a6: oklch(0.612 0.143 214.048deg / 0.33);
  --cyan-a7: oklch(0.581 0.137 216.08deg / 0.436);
  --cyan-a8: oklch(0.576 0.137 217.624deg / 0.612);
  --cyan-a9: oklch(0.546 0.141 228.667deg / 0.718);
  --cyan-a10: oklch(0.507 0.131 228.2deg / 0.738);
  --cyan-a11: oklch(0.54 0.127 223.718deg / 1);
  --cyan-a12: oklch(0.332 0.053 218.573deg / 1);
  --gold-1: oklch(0.994 0.001 106.42deg / 1);
  --gold-2: oklch(0.981 0.009 97.335deg / 1);
  --gold-3: oklch(0.953 0.012 94.694deg / 1);
  --gold-4: oklch(0.926 0.015 93.176deg / 1);
  --gold-5: oklch(0.896 0.019 90.725deg / 1);
  --gold-6: oklch(0.86 0.025 88.384deg / 1);
  --gold-7: oklch(0.81 0.032 83.41deg / 1);
  --gold-8: oklch(0.739 0.042 78.17deg / 1);
  --gold-9: oklch(0.621 0.049 78.132deg / 1);
  --gold-10: oklch(0.588 0.047 77.42deg / 1);
  --gold-11: oklch(0.504 0.039 78.1deg / 1);
  --gold-12: oklch(0.332 0.019 81.666deg / 1);
  --gold-a1: oklch(0.448 0.11 110.131deg / 0.012);
  --gold-a2: oklch(0.61 0.144 97.768deg / 0.048);
  --gold-a3: oklch(0.467 0.111 100.767deg / 0.091);
  --gold-a4: oklch(0.42 0.098 94.994deg / 0.134);
  --gold-a5: oklch(0.407 0.096 93.299deg / 0.185);
  --gold-a6: oklch(0.395 0.092 88.065deg / 0.244);
  --gold-a7: oklch(0.381 0.091 76.997deg / 0.322);
  --gold-a8: oklch(0.373 0.091 71.564deg / 0.436);
  --gold-a9: oklch(0.328 0.081 72.153deg / 0.589);
  --gold-a10: oklch(0.305 0.075 73.244deg / 0.62);
  --gold-a11: oklch(0.504 0.039 78.1deg / 1);
  --gold-a12: oklch(0.332 0.019 81.666deg / 1);
  --grass-1: oklch(0.994 0.005 146.387deg / 1);
  --grass-2: oklch(0.982 0.009 145.931deg / 1);
  --grass-3: oklch(0.961 0.023 145.272deg / 1);
  --grass-4: oklch(0.934 0.037 146.184deg / 1);
  --grass-5: oklch(0.901 0.053 146.355deg / 1);
  --grass-6: oklch(0.858 0.071 146.829deg / 1);
  --grass-7: oklch(0.798 0.095 147.471deg / 1);
  --grass-8: oklch(0.716 0.13 148.346deg / 1);
  --grass-9: oklch(0.652 0.147 147.366deg / 1);
  --grass-10: oklch(0.614 0.142 147.318deg / 1);
  --grass-11: oklch(0.527 0.13 147.178deg / 1);
  --grass-12: oklch(0.327 0.053 148.585deg / 1);
  --grass-a1: oklch(0.689 0.297 145.677deg / 0.016);
  --grass-a2: oklch(0.556 0.238 145.706deg / 0.036);
  --grass-a3: oklch(0.564 0.241 145.215deg / 0.083);
  --grass-a4: oklch(0.556 0.239 145.431deg / 0.134);
  --grass-a5: oklch(0.542 0.232 145.296deg / 0.197);
  --grass-a6: oklch(0.51 0.219 145.355deg / 0.275);
  --grass-a7: oklch(0.495 0.214 145.562deg / 0.377);
  --grass-a8: oklch(0.484 0.209 145.781deg / 0.522);
  --grass-a9: oklch(0.46 0.199 145.523deg / 0.624);
  --grass-a10: oklch(0.424 0.183 145.49deg / 0.659);
  --grass-a11: oklch(0.527 0.13 147.178deg / 1);
  --grass-a12: oklch(0.327 0.053 148.585deg / 1);
  --green-1: oklch(0.994 0.004 159.055deg / 1);
  --green-2: oklch(0.982 0.009 155.308deg / 1);
  --green-3: oklch(0.959 0.023 156.379deg / 1);
  --green-4: oklch(0.933 0.036 156.601deg / 1);
  --green-5: oklch(0.9 0.05 157.223deg / 1);
  --green-6: oklch(0.857 0.065 157.886deg / 1);
  --green-7: oklch(0.798 0.084 159.019deg / 1);
  --green-8: oklch(0.714 0.112 160.599deg / 1);
  --green-9: oklch(0.64 0.133 157.751deg / 1);
  --green-10: oklch(0.611 0.126 158.307deg / 1);
  --green-11: oklch(0.529 0.133 158.332deg / 1);
  --green-12: oklch(0.322 0.047 164.616deg / 1);
  --green-a1: oklch(0.693 0.264 150.025deg / 0.016);
  --green-a2: oklch(0.557 0.225 147.647deg / 0.036);
  --green-a3: oklch(0.579 0.234 147.959deg / 0.087);
  --green-a4: oklch(0.573 0.231 148.062deg / 0.142);
  --green-a5: oklch(0.54 0.212 149.048deg / 0.204);
  --green-a6: oklch(0.524 0.204 149.392deg / 0.283);
  --green-a7: oklch(0.501 0.19 150.375deg / 0.389);
  --green-a8: oklch(0.496 0.178 152.796deg / 0.55);
  --green-a9: oklch(0.478 0.178 151.174deg / 0.667);
  --green-a10: oklch(0.449 0.166 151.505deg / 0.691);
  --green-a11: oklch(0.529 0.133 158.332deg / 1);
  --green-a12: oklch(0.322 0.047 164.616deg / 1);
  --indigo-1: oklch(0.994 0.001 286.373deg / 1);
  --indigo-2: oklch(0.983 0.008 271.377deg / 1);
  --indigo-3: oklch(0.961 0.017 268.546deg / 1);
  --indigo-4: oklch(0.935 0.034 268.486deg / 1);
  --indigo-5: oklch(0.903 0.051 269.979deg / 1);
  --indigo-6: oklch(0.863 0.071 271.508deg / 1);
  --indigo-7: oklch(0.807 0.087 271.371deg / 1);
  --indigo-8: oklch(0.73 0.113 270.523deg / 1);
  --indigo-9: oklch(0.544 0.191 267.076deg / 1);
  --indigo-10: oklch(0.511 0.195 266.476deg / 1);
  --indigo-11: oklch(0.51 0.173 267.108deg / 1);
  --indigo-12: oklch(0.313 0.086 268.562deg / 1);
  --indigo-a1: oklch(0.289 0.192 265.449deg / 0.008);
  --indigo-a2: oklch(0.443 0.272 263.503deg / 0.028);
  --indigo-a3: oklch(0.473 0.263 261.661deg / 0.067);
  --indigo-a4: oklch(0.509 0.294 262.155deg / 0.114);
  --indigo-a5: oklch(0.505 0.297 262.379deg / 0.169);
  --indigo-a6: oklch(0.493 0.297 262.757deg / 0.232);
  --indigo-a7: oklch(0.446 0.27 262.804deg / 0.314);
  --indigo-a8: oklch(0.427 0.257 262.784deg / 0.432);
  --indigo-a9: oklch(0.41 0.248 262.719deg / 0.726);
  --indigo-a10: oklch(0.394 0.241 262.85deg / 0.765);
  --indigo-a11: oklch(0.51 0.173 267.108deg / 1);
  --indigo-a12: oklch(0.313 0.086 268.562deg / 1);
  --iris-1: oklch(0.994 0.003 286.353deg / 1);
  --iris-2: oklch(0.981 0.009 284.099deg / 1);
  --iris-3: oklch(0.961 0.018 283.804deg / 1);
  --iris-4: oklch(0.935 0.035 283.44deg / 1);
  --iris-5: oklch(0.904 0.053 283.775deg / 1);
  --iris-6: oklch(0.865 0.07 283.106deg / 1);
  --iris-7: oklch(0.808 0.088 282.852deg / 1);
  --iris-8: oklch(0.729 0.118 281.483deg / 1);
  --iris-9: oklch(0.54 0.184 278.296deg / 1);
  --iris-10: oklch(0.509 0.186 277.487deg / 1);
  --iris-11: oklch(0.51 0.173 279.689deg / 1);
  --iris-12: oklch(0.315 0.099 277.363deg / 1);
  --iris-a1: oklch(0.469 0.322 264.38deg / 0.008);
  --iris-a2: oklch(0.421 0.287 264.597deg / 0.028);
  --iris-a3: oklch(0.427 0.286 263.903deg / 0.059);
  --iris-a4: oklch(0.471 0.32 264.158deg / 0.099);
  --iris-a5: oklch(0.469 0.321 264.124deg / 0.142);
  --iris-a6: oklch(0.447 0.308 264.002deg / 0.2);
  --iris-a7: oklch(0.413 0.284 264.097deg / 0.279);
  --iris-a8: oklch(0.392 0.268 264.089deg / 0.389);
  --iris-a9: oklch(0.359 0.249 264.052deg / 0.644);
  --iris-a10: oklch(0.344 0.239 264.052deg / 0.683);
  --iris-a11: oklch(0.51 0.173 279.689deg / 1);
  --iris-a12: oklch(0.315 0.099 277.363deg / 1);
  --jade-1: oklch(0.995 0.004 172.633deg / 1);
  --jade-2: oklch(0.982 0.009 160.303deg / 1);
  --jade-3: oklch(0.96 0.022 161.885deg / 1);
  --jade-4: oklch(0.934 0.034 163.538deg / 1);
  --jade-5: oklch(0.902 0.046 164.777deg / 1);
  --jade-6: oklch(0.859 0.059 166.88deg / 1);
  --jade-7: oklch(0.8 0.077 169.533deg / 1);
  --jade-8: oklch(0.721 0.103 173.373deg / 1);
  --jade-9: oklch(0.642 0.115 170.848deg / 1);
  --jade-10: oklch(0.613 0.11 170.613deg / 1);
  --jade-11: oklch(0.529 0.127 167.166deg / 1);
  --jade-12: oklch(0.326 0.041 169.781deg / 1);
  --jade-a1: oklch(0.704 0.203 164.516deg / 0.016);
  --jade-a2: oklch(0.592 0.223 150.408deg / 0.04);
  --jade-a3: oklch(0.582 0.214 151.536deg / 0.087);
  --jade-a4: oklch(0.577 0.206 152.868deg / 0.142);
  --jade-a5: oklch(0.558 0.197 153.464deg / 0.204);
  --jade-a6: oklch(0.533 0.175 156.931deg / 0.287);
  --jade-a7: oklch(0.521 0.164 159.111deg / 0.397);
  --jade-a8: oklch(0.524 0.152 164.475deg / 0.561);
  --jade-a9: oklch(0.488 0.143 163.641deg / 0.683);
  --jade-a10: oklch(0.458 0.135 163.61deg / 0.702);
  --jade-a11: oklch(0.529 0.127 167.166deg / 1);
  --jade-a12: oklch(0.326 0.041 169.781deg / 1);
  --lime-1: oklch(0.992 0.004 120.669deg / 1);
  --lime-2: oklch(0.982 0.01 116.695deg / 1);
  --lime-3: oklch(0.959 0.043 119.098deg / 1);
  --lime-4: oklch(0.932 0.069 120.38deg / 1);
  --lime-5: oklch(0.897 0.087 121.837deg / 1);
  --lime-6: oklch(0.853 0.099 123.383deg / 1);
  --lime-7: oklch(0.795 0.111 125.306deg / 1);
  --lime-8: oklch(0.724 0.135 128.059deg / 1);
  --lime-9: oklch(0.888 0.175 126.087deg / 1);
  --lime-10: oklch(0.859 0.188 126.735deg / 1);
  --lime-11: oklch(0.544 0.111 128.634deg / 1);
  --lime-12: oklch(0.354 0.057 121.182deg / 1);
  --lime-a1: oklch(0.623 0.198 131.203deg / 0.02);
  --lime-a2: oklch(0.634 0.174 120.003deg / 0.048);
  --lime-a3: oklch(0.749 0.225 126.799deg / 0.15);
  --lime-a4: oklch(0.74 0.226 128.044deg / 0.24);
  --lime-a5: oklch(0.697 0.213 128.223deg / 0.322);
  --lime-a6: oklch(0.64 0.201 129.672deg / 0.4);
  --lime-a7: oklch(0.587 0.188 131.354deg / 0.491);
  --lime-a8: oklch(0.559 0.185 133.094deg / 0.624);
  --lime-a9: oklch(0.81 0.261 131.443deg / 0.534);
  --lime-a10: oklch(0.782 0.252 131.39deg / 0.604);
  --lime-a11: oklch(0.544 0.111 128.634deg / 1);
  --lime-a12: oklch(0.354 0.057 121.182deg / 1);
  --mint-1: oklch(0.993 0.005 183.684deg / 1);
  --mint-2: oklch(0.982 0.01 178.659deg / 1);
  --mint-3: oklch(0.96 0.03 179.573deg / 1);
  --mint-4: oklch(0.933 0.047 178.983deg / 1);
  --mint-5: oklch(0.899 0.061 178.721deg / 1);
  --mint-6: oklch(0.856 0.072 178.682deg / 1);
  --mint-7: oklch(0.798 0.085 178.218deg / 1);
  --mint-8: oklch(0.722 0.107 177.688deg / 1);
  --mint-9: oklch(0.87 0.1 177.97deg / 1);
  --mint-10: oklch(0.841 0.1 177.769deg / 1);
  --mint-11: oklch(0.512 0.095 176.02deg / 1);
  --mint-12: oklch(0.35 0.051 181.437deg / 1);
  --mint-a1: oklch(0.741 0.199 170.048deg / 0.02);
  --mint-a2: oklch(0.629 0.174 167.711deg / 0.044);
  --mint-a3: oklch(0.709 0.196 167.923deg / 0.114);
  --mint-a4: oklch(0.696 0.191 168.613deg / 0.181);
  --mint-a5: oklch(0.652 0.176 170.006deg / 0.255);
  --mint-a6: oklch(0.608 0.164 170.1deg / 0.334);
  --mint-a7: oklch(0.559 0.15 170.194deg / 0.432);
  --mint-a8: oklch(0.544 0.148 169.576deg / 0.581);
  --mint-a9: oklch(0.713 0.194 169.198deg / 0.381);
  --mint-a10: oklch(0.66 0.18 168.984deg / 0.416);
  --mint-a11: oklch(0.512 0.095 176.02deg / 1);
  --mint-a12: oklch(0.35 0.051 181.437deg / 1);
  --orange-1: oklch(0.992 0.003 40.728deg / 1);
  --orange-2: oklch(0.979 0.015 70.826deg / 1);
  --orange-3: oklch(0.958 0.037 78.115deg / 1);
  --orange-4: oklch(0.92 0.081 74.156deg / 1);
  --orange-5: oklch(0.89 0.107 70.836deg / 1);
  --orange-6: oklch(0.857 0.11 64.427deg / 1);
  --orange-7: oklch(0.805 0.113 59.882deg / 1);
  --orange-8: oklch(0.745 0.132 54.819deg / 1);
  --orange-9: oklch(0.689 0.191 44.802deg / 1);
  --orange-10: oklch(0.662 0.194 43.486deg / 1);
  --orange-11: oklch(0.592 0.186 46.954deg / 1);
  --orange-12: oklch(0.35 0.069 40.823deg / 1);
  --orange-a1: oklch(0.568 0.202 39.133deg / 0.016);
  --orange-a2: oklch(0.714 0.186 63.091deg / 0.067);
  --orange-a3: oklch(0.747 0.189 67.1deg / 0.15);
  --orange-a4: oklch(0.782 0.204 63.13deg / 0.314);
  --orange-a5: oklch(0.768 0.208 58.799deg / 0.416);
  --orange-a6: oklch(0.721 0.207 53.409deg / 0.455);
  --orange-a7: oklch(0.648 0.194 50.288deg / 0.514);
  --orange-a8: oklch(0.613 0.197 45.621deg / 0.62);
  --orange-a9: oklch(0.634 0.226 39.674deg / 0.8);
  --orange-a10: oklch(0.612 0.222 38.916deg / 0.836);
  --orange-a11: oklch(0.592 0.186 46.954deg / 1);
  --orange-a12: oklch(0.35 0.069 40.823deg / 1);
  --pink-1: oklch(0.994 0.004 336.251deg / 1);
  --pink-2: oklch(0.983 0.009 339.969deg / 1);
  --pink-3: oklch(0.954 0.027 340.644deg / 1);
  --pink-4: oklch(0.925 0.042 340.658deg / 1);
  --pink-5: oklch(0.893 0.054 340.861deg / 1);
  --pink-6: oklch(0.855 0.067 340.903deg / 1);
  --pink-7: oklch(0.809 0.083 341.207deg / 1);
  --pink-8: oklch(0.752 0.107 341.627deg / 1);
  --pink-9: oklch(0.617 0.208 346.051deg / 1);
  --pink-10: oklch(0.596 0.207 346.503deg / 1);
  --pink-11: oklch(0.557 0.206 347.33deg / 1);
  --pink-12: oklch(0.35 0.129 345.455deg / 1);
  --pink-a1: oklch(0.541 0.266 331.445deg / 0.012);
  --pink-a2: oklch(0.555 0.257 350.905deg / 0.032);
  --pink-a3: oklch(0.56 0.261 349.672deg / 0.083);
  --pink-a4: oklch(0.544 0.254 349.951deg / 0.134);
  --pink-a5: oklch(0.503 0.234 350.196deg / 0.185);
  --pink-a6: oklch(0.477 0.223 349.547deg / 0.244);
  --pink-a7: oklch(0.466 0.218 349.301deg / 0.318);
  --pink-a8: oklch(0.454 0.212 348.346deg / 0.412);
  --pink-a9: oklch(0.511 0.238 351.876deg / 0.702);
  --pink-a10: oklch(0.496 0.23 352.35deg / 0.73);
  --pink-a11: oklch(0.557 0.206 347.33deg / 1);
  --pink-a12: oklch(0.35 0.129 345.455deg / 1);
  --plum-1: oklch(0.993 0.005 316.868deg / 1);
  --plum-2: oklch(0.983 0.009 325.993deg / 1);
  --plum-3: oklch(0.957 0.027 325.49deg / 1);
  --plum-4: oklch(0.929 0.044 324.871deg / 1);
  --plum-5: oklch(0.898 0.057 324.373deg / 1);
  --plum-6: oklch(0.86 0.072 323.913deg / 1);
  --plum-7: oklch(0.809 0.091 323.148deg / 1);
  --plum-8: oklch(0.742 0.12 321.875deg / 1);
  --plum-9: oklch(0.579 0.188 322.09deg / 1);
  --plum-10: oklch(0.553 0.181 322.098deg / 1);
  --plum-11: oklch(0.521 0.173 322.024deg / 1);
  --plum-12: oklch(0.338 0.125 321.406deg / 1);
  --plum-a1: oklch(0.605 0.321 310.809deg / 0.012);
  --plum-a2: oklch(0.485 0.237 331.438deg / 0.028);
  --plum-a3: oklch(0.546 0.277 324.226deg / 0.079);
  --plum-a4: oklch(0.529 0.269 324.162deg / 0.126);
  --plum-a5: oklch(0.503 0.258 322.523deg / 0.177);
  --plum-a6: oklch(0.479 0.246 321.284deg / 0.236);
  --plum-a7: oklch(0.452 0.233 319.807deg / 0.314);
  --plum-a8: oklch(0.441 0.228 319.168deg / 0.42);
  --plum-a9: oklch(0.427 0.222 319.113deg / 0.687);
  --plum-a10: oklch(0.405 0.209 319.909deg / 0.71);
  --plum-a11: oklch(0.521 0.173 322.024deg / 1);
  --plum-a12: oklch(0.338 0.125 321.406deg / 1);
  --purple-1: oklch(0.993 0.004 325.351deg / 1);
  --purple-2: oklch(0.982 0.009 313.124deg / 1);
  --purple-3: oklch(0.959 0.024 313.268deg / 1);
  --purple-4: oklch(0.933 0.039 312.06deg / 1);
  --purple-5: oklch(0.901 0.054 311.568deg / 1);
  --purple-6: oklch(0.86 0.071 311.027deg / 1);
  --purple-7: oklch(0.804 0.093 309.933deg / 1);
  --purple-8: oklch(0.733 0.123 307.975deg / 1);
  --purple-9: oklch(0.555 0.183 305.88deg / 1);
  --purple-10: oklch(0.524 0.176 305.694deg / 1);
  --purple-11: oklch(0.516 0.174 305.703deg / 1);
  --purple-12: oklch(0.322 0.11 303.797deg / 1);
  --purple-a1: oklch(0.541 0.266 331.445deg / 0.012);
  --purple-a2: oklch(0.46 0.246 306.499deg / 0.028);
  --purple-a3: oklch(0.508 0.275 305.753deg / 0.071);
  --purple-a4: oklch(0.489 0.27 300.567deg / 0.114);
  --purple-a5: oklch(0.471 0.26 301.051deg / 0.165);
  --purple-a6: oklch(0.445 0.248 298.52deg / 0.228);
  --purple-a7: oklch(0.427 0.239 297.575deg / 0.31);
  --purple-a8: oklch(0.414 0.235 293.775deg / 0.416);
  --purple-a9: oklch(0.388 0.22 294.827deg / 0.683);
  --purple-a10: oklch(0.362 0.205 295.273deg / 0.71);
  --purple-a11: oklch(0.516 0.174 305.703deg / 1);
  --purple-a12: oklch(0.322 0.11 303.797deg / 1);
  --red-1: oklch(0.994 0.003 22.753deg / 1);
  --red-2: oklch(0.983 0.008 16.025deg / 1);
  --red-3: oklch(0.956 0.021 16.228deg / 1);
  --red-4: oklch(0.928 0.047 16.682deg / 1);
  --red-5: oklch(0.896 0.062 17.328deg / 1);
  --red-6: oklch(0.857 0.075 17.868deg / 1);
  --red-7: oklch(0.807 0.089 18.445deg / 1);
  --red-8: oklch(0.745 0.113 19.089deg / 1);
  --red-9: oklch(0.625 0.193 22.983deg / 1);
  --red-10: oklch(0.6 0.195 23.889deg / 1);
  --red-11: oklch(0.557 0.198 25.135deg / 1);
  --red-12: oklch(0.339 0.109 16.681deg / 1);
  --red-a1: oklch(0.485 0.221 28.574deg / 0.012);
  --red-a2: oklch(0.582 0.266 28.734deg / 0.028);
  --red-a3: oklch(0.545 0.251 28.867deg / 0.075);
  --red-a4: oklch(0.649 0.299 28.904deg / 0.134);
  --red-a5: oklch(0.608 0.28 28.892deg / 0.189);
  --red-a6: oklch(0.565 0.259 29.093deg / 0.251);
  --red-a7: oklch(0.519 0.238 29.076deg / 0.33);
  --red-a8: oklch(0.496 0.228 29.027deg / 0.428);
  --red-a9: oklch(0.522 0.24 29.069deg / 0.675);
  --red-a10: oklch(0.504 0.232 29.143deg / 0.714);
  --red-a11: oklch(0.557 0.198 25.135deg / 1);
  --red-a12: oklch(0.339 0.109 16.681deg / 1);
  --ruby-1: oklch(0.994 0.003 356.308deg / 1);
  --ruby-2: oklch(0.983 0.008 8.411deg / 1);
  --ruby-3: oklch(0.954 0.022 8.563deg / 1);
  --ruby-4: oklch(0.928 0.042 8.465deg / 1);
  --ruby-5: oklch(0.896 0.055 8.165deg / 1);
  --ruby-6: oklch(0.858 0.066 7.841deg / 1);
  --ruby-7: oklch(0.81 0.08 7.487deg / 1);
  --ruby-8: oklch(0.749 0.101 6.861deg / 1);
  --ruby-9: oklch(0.628 0.195 13.192deg / 1);
  --ruby-10: oklch(0.601 0.196 13.393deg / 1);
  --ruby-11: oklch(0.549 0.199 13.924deg / 1);
  --ruby-12: oklch(0.341 0.11 10.038deg / 1);
  --ruby-a1: oklch(0.5 0.224 1.784deg / 0.012);
  --ruby-a2: oklch(0.582 0.266 28.734deg / 0.028);
  --ruby-a3: oklch(0.552 0.252 25.769deg / 0.079);
  --ruby-a4: oklch(0.606 0.277 25.959deg / 0.13);
  --ruby-a5: oklch(0.566 0.258 24.886deg / 0.185);
  --ruby-a6: oklch(0.522 0.238 24.719deg / 0.244);
  --ruby-a7: oklch(0.487 0.222 24.069deg / 0.314);
  --ruby-a8: oklch(0.467 0.212 22.611deg / 0.412);
  --ruby-a9: oklch(0.526 0.24 24.136deg / 0.679);
  --ruby-a10: oklch(0.506 0.23 23.832deg / 0.714);
  --ruby-a11: oklch(0.549 0.199 13.924deg / 1);
  --ruby-a12: oklch(0.341 0.11 10.038deg / 1);
  --sky-1: oklch(0.993 0.005 211.912deg / 1);
  --sky-2: oklch(0.98 0.01 217.67deg / 1);
  --sky-3: oklch(0.961 0.024 219.583deg / 1);
  --sky-4: oklch(0.936 0.036 220.386deg / 1);
  --sky-5: oklch(0.903 0.047 221.369deg / 1);
  --sky-6: oklch(0.861 0.058 222.868deg / 1);
  --sky-7: oklch(0.806 0.072 225.652deg / 1);
  --sky-8: oklch(0.729 0.096 227.981deg / 1);
  --sky-9: oklch(0.861 0.103 217.814deg / 1);
  --sky-10: oklch(0.838 0.104 219.573deg / 1);
  --sky-11: oklch(0.526 0.108 232.545deg / 1);
  --sky-12: oklch(0.351 0.057 241.61deg / 1);
  --sky-a1: oklch(0.78 0.185 217.733deg / 0.02);
  --sky-a2: oklch(0.624 0.15 220.343deg / 0.048);
  --sky-a3: oklch(0.679 0.171 226.112deg / 0.102);
  --sky-a4: oklch(0.645 0.169 229.813deg / 0.157);
  --sky-a5: oklch(0.613 0.159 229.199deg / 0.224);
  --sky-a6: oklch(0.568 0.154 232.991deg / 0.299);
  --sky-a7: oklch(0.535 0.149 235.156deg / 0.397);
  --sky-a8: oklch(0.519 0.15 237.684deg / 0.542);
  --sky-a9: oklch(0.722 0.183 226.731deg / 0.416);
  --sky-a10: oklch(0.679 0.178 230.197deg / 0.444);
  --sky-a11: oklch(0.526 0.108 232.545deg / 1);
  --sky-a12: oklch(0.351 0.057 241.61deg / 1);
  --teal-1: oklch(0.994 0.005 177.549deg / 1);
  --teal-2: oklch(0.981 0.009 179.002deg / 1);
  --teal-3: oklch(0.961 0.027 180.319deg / 1);
  --teal-4: oklch(0.935 0.042 180.216deg / 1);
  --teal-5: oklch(0.9 0.054 180.498deg / 1);
  --teal-6: oklch(0.856 0.064 181.415deg / 1);
  --teal-7: oklch(0.797 0.076 182.211deg / 1);
  --teal-8: oklch(0.721 0.097 183.465deg / 1);
  --teal-9: oklch(0.649 0.113 182.005deg / 1);
  --teal-10: oklch(0.619 0.11 181.203deg / 1);
  --teal-11: oklch(0.53 0.124 179.04deg / 1);
  --teal-12: oklch(0.327 0.05 185.019deg / 1);
  --teal-a1: oklch(0.704 0.203 164.516deg / 0.016);
  --teal-a2: oklch(0.629 0.174 167.711deg / 0.044);
  --teal-a3: oklch(0.697 0.188 169.846deg / 0.106);
  --teal-a4: oklch(0.67 0.179 170.956deg / 0.169);
  --teal-a5: oklch(0.628 0.167 171.339deg / 0.24);
  --teal-a6: oklch(0.575 0.15 172.911deg / 0.318);
  --teal-a7: oklch(0.539 0.137 175.807deg / 0.42);
  --teal-a8: oklch(0.531 0.133 177.551deg / 0.569);
  --teal-a9: oklch(0.512 0.128 177.64deg / 0.702);
  --teal-a10: oklch(0.488 0.124 176.02deg / 0.726);
  --teal-a11: oklch(0.53 0.124 179.04deg / 1);
  --teal-a12: oklch(0.327 0.05 185.019deg / 1);
  --tomato-1: oklch(0.994 0.003 22.753deg / 1);
  --tomato-2: oklch(0.984 0.007 31.019deg / 1);
  --tomato-3: oklch(0.954 0.022 30.883deg / 1);
  --tomato-4: oklch(0.926 0.047 31.759deg / 1);
  --tomato-5: oklch(0.892 0.063 31.488deg / 1);
  --tomato-6: oklch(0.852 0.077 32.012deg / 1);
  --tomato-7: oklch(0.803 0.094 32.172deg / 1);
  --tomato-8: oklch(0.741 0.118 32.072deg / 1);
  --tomato-9: oklch(0.627 0.194 33.308deg / 1);
  --tomato-10: oklch(0.604 0.195 33.259deg / 1);
  --tomato-11: oklch(0.567 0.198 32.806deg / 1);
  --tomato-12: oklch(0.346 0.08 30.526deg / 1);
  --tomato-a1: oklch(0.485 0.221 28.574deg / 0.012);
  --tomato-a2: oklch(0.54 0.227 31.738deg / 0.032);
  --tomato-a3: oklch(0.583 0.24 32.831deg / 0.091);
  --tomato-a4: oklch(0.653 0.277 31.984deg / 0.165);
  --tomato-a5: oklch(0.625 0.262 32.445deg / 0.232);
  --tomato-a6: oklch(0.588 0.247 32.394deg / 0.302);
  --tomato-a7: oklch(0.559 0.233 32.667deg / 0.389);
  --tomato-a8: oklch(0.537 0.224 32.575deg / 0.499);
  --tomato-a9: oklch(0.552 0.233 32.194deg / 0.769);
  --tomato-a10: oklch(0.539 0.228 32.1deg / 0.8);
  --tomato-a11: oklch(0.567 0.198 32.806deg / 1);
  --tomato-a12: oklch(0.346 0.08 30.526deg / 1);
  --violet-1: oklch(0.992 0.003 308.031deg / 1);
  --violet-2: oklch(0.983 0.009 295.038deg / 1);
  --violet-3: oklch(0.963 0.019 296.582deg / 1);
  --violet-4: oklch(0.934 0.039 295.383deg / 1);
  --violet-5: oklch(0.904 0.057 294.124deg / 1);
  --violet-6: oklch(0.864 0.072 293.858deg / 1);
  --violet-7: oklch(0.806 0.09 293.472deg / 1);
  --violet-8: oklch(0.729 0.119 292.427deg / 1);
  --violet-9: oklch(0.542 0.179 288.096deg / 1);
  --violet-10: oklch(0.511 0.177 287.642deg / 1);
  --violet-11: oklch(0.508 0.159 288.591deg / 1);
  --violet-12: oklch(0.313 0.098 286.759deg / 1);
  --violet-a1: oklch(0.416 0.229 298.692deg / 0.012);
  --violet-a2: oklch(0.432 0.279 270.831deg / 0.028);
  --violet-a3: oklch(0.439 0.28 274.082deg / 0.059);
  --violet-a4: oklch(0.481 0.314 271.124deg / 0.102);
  --violet-a5: oklch(0.478 0.315 269.307deg / 0.15);
  --violet-a6: oklch(0.444 0.292 269.778deg / 0.208);
  --violet-a7: oklch(0.404 0.264 270.623deg / 0.287);
  --violet-a8: oklch(0.388 0.254 270.769deg / 0.397);
  --violet-a9: oklch(0.358 0.234 270.726deg / 0.659);
  --violet-a10: oklch(0.34 0.221 271.406deg / 0.695);
  --violet-a11: oklch(0.508 0.159 288.591deg / 1);
  --violet-a12: oklch(0.313 0.098 286.759deg / 1);
  --yellow-1: oklch(0.993 0.005 106.493deg / 1);
  --yellow-2: oklch(0.988 0.025 102.915deg / 1);
  --yellow-3: oklch(0.974 0.084 104.359deg / 1);
  --yellow-4: oklch(0.953 0.117 101.741deg / 1);
  --yellow-5: oklch(0.925 0.141 98.203deg / 1);
  --yellow-6: oklch(0.881 0.134 95.418deg / 1);
  --yellow-7: oklch(0.836 0.12 92.791deg / 1);
  --yellow-8: oklch(0.766 0.137 89.846deg / 1);
  --yellow-9: oklch(0.927 0.209 102.143deg / 1);
  --yellow-10: oklch(0.897 0.185 97.531deg / 1);
  --yellow-11: oklch(0.574 0.136 81.691deg / 1);
  --yellow-12: oklch(0.358 0.046 86.635deg / 1);
  --yellow-a1: oklch(0.719 0.181 110.206deg / 0.024);
  --yellow-a2: oklch(0.881 0.212 100.624deg / 0.079);
  --yellow-a3: oklch(0.925 0.227 104.562deg / 0.251);
  --yellow-a4: oklch(0.898 0.216 100.159deg / 0.373);
  --yellow-a5: oklch(0.867 0.205 94.448deg / 0.491);
  --yellow-a6: oklch(0.79 0.186 90.87deg / 0.526);
  --yellow-a7: oklch(0.708 0.167 87.819deg / 0.542);
  --yellow-a8: oklch(0.668 0.158 84.316deg / 0.687);
  --yellow-a9: oklch(0.914 0.221 100.702deg / 0.781);
  --yellow-a10: oklch(0.865 0.205 93.972deg / 0.71);
  --yellow-a11: oklch(0.574 0.136 81.691deg / 1);
  --yellow-a12: oklch(0.358 0.046 86.635deg / 1);
  --gray-contrast: #fff;
  --mauve-contrast: #fff;
  --slate-contrast: #fff;
  --sage-contrast: #fff;
  --olive-contrast: #fff;
  --sand-contrast: #fff;
  --amber-contrast: #21201c;
  --blue-contrast: #fff;
  --bronze-contrast: #fff;
  --brown-contrast: #fff;
  --crimson-contrast: #fff;
  --cyan-contrast: #fff;
  --gold-contrast: #fff;
  --grass-contrast: #fff;
  --green-contrast: #fff;
  --indigo-contrast: #fff;
  --iris-contrast: #fff;
  --jade-contrast: #fff;
  --lime-contrast: #1d211c;
  --mint-contrast: #1a211e;
  --orange-contrast: #fff;
  --pink-contrast: #fff;
  --plum-contrast: #fff;
  --purple-contrast: #fff;
  --red-contrast: #fff;
  --ruby-contrast: #fff;
  --sky-contrast: #1c2024;
  --teal-contrast: #fff;
  --tomato-contrast: #fff;
  --violet-contrast: #fff;
  --yellow-contrast: #21201c;
}
