@import 'tailwindcss';

@theme {
  --text-title-1: 24px;
  --text-title-1--font-weight: 700;
  --text-title-1--line-height: 150%;
  --text-title-2: 20px;
  --text-title-2--font-weight: 700;
  --text-title-2--line-height: 150%;
  --text-title-3: 18px;
  --text-title-3--font-weight: 600;
  --text-title-3--line-height: 150%;
  --text-title-4: 16px;
  --text-title-4--font-weight: 500;
  --text-title-4--line-height: 150%;
  --text-body: 16px;
  --text-body--font-weight: 400;
  --text-body--line-height: 140%;
  --text-caption: 14px;
  --text-caption--font-weight: 400;
  --text-caption--line-height: 120%;
}
